<%- include ('../layouts/header')%>

<body>

    <div class="">
        <div class="login-section">
            <div class="side-img">
                <div class="poster-index login-poster">
                    <div id="owl-demo" class="owl-carousel owl-theme">
                        <%filmslide.forEach(function(film){%>
                            <a href="/movie/<%=film.slug%>"><img class="poster-slide login-slide" src="<%=film.photo%>" alt="Owl Image"></a>                            
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="col-5 side-login">
                <div class="login-form register-form">
                    <a href="/"><img src="/img/logo.gif" alt="logo"></a>
                    <h2 class="login-h1">Đăng ký</h2>
                    <form action="/auth/register" method="post" class="form-signin">
                        <%  if (typeof mes!="undefined"){%>
                            <div class="alert alert-danger error-alert" role="alert"><%=mes%></div>
                        <%} %>
                        
                        <div class="login-input">
                            <i class="fa-solid fa-circle-user"></i>
                            <input type="text" name="fullname" value="<%=fullname%>" placeholder="Họ tên" class="form-control email-input">
                            <span class="span-error-add"></span>
                        </div>
                        <div class="login-input">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" placeholder="Gmail" value="<%=email%>" class="form-control email-input"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                                <span class="span-error-add"></span>
                        </div>
                        <div class="login-input">
                            <i class="fa-solid fa-circle-user"></i>
                            <input type="text" name="phone" placeholder="Số điện thoại" value="<%=phone%>" class="form-control email-input">
                            <span class="span-error-add"></span>
                        </div>
                        <div class="login-input">
                            <i class="fa-solid fa-calendar-days"></i>
                            <input type="date" name="birthday" placeholder="Ngày sinh" value="<%=birthday%>" class="form-control email-input">
                            <span class="span-error-add"></span>
                        </div>
                        <div class="login-input">
                            <i class="fa-solid fa-venus-mars"></i>
                            <select name="gender" class="form-select email-input" aria-label="Default select example">
                                <option class="gender" value="male">Nam</option>
                                <option class="gender" value="female">Nữ</option>
                              </select>
                              <span class="span-error-add"></span>
                        </div>

                        <div class="login-input">
                            <i class="fa-solid fa-lock"></i>
                            <input name="password" type="password" placeholder="Mật khẩu" class="form-control email-input"
                                id="exampleInputPassword1">
                                <span class="span-error-add"></span>
                        </div>
                        <div class="login-input confirmPass-contain">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Nhập lại mật khẩu" class="confirmPass form-control email-input"
                                id="exampleInputPassword1">
                                <span class="span-error-add"></span>
                        </div>
                        <button type="submit" class="register-btn btn-login">
                            Đăng ký
                        </button>
                        <span style="color: #f0c673; padding-bottom: 30px;">Đã có tài khoản? <i><a href="/auth/login">Đăng nhập
                                    ngay!</a></i></span>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/validate-thitran.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">

    <script>
        $("#owl-demo").owlCarousel({
            animateOut: 'fadeOut',
            dots: false,
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            items: 1,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]

        });

        isGmail($("[name='email']"), 'add');
        isName($("[name='fullname']"), 'add');
        isPhone($("[name='phone']"),'add');
        isPassword($("[name='password']"), 'add');
        isMatchPass($(".confirmPass"), 'add',$("[name='password']"));
        isRequired($("[name='email']"), 'add');
        isRequired($("[name='fullname']"), 'add');
        isRequired($("[name='phone']"), 'add');
        isRequired($("[name='birthday']"), 'add');
        isRequired($("[name='password']"), 'add');
        isRequired($(".confirmPass"), 'add');

        $('.register-btn').click(function (e) {
            console.log($("[name='birthday']").val());
                var check = true;
                checkform([$("[name='email']"), $("[name='password']"),$(".confirmPass"),$("[name='birthday']"),
                $("[name='phone']"),$("[name='fullname']")], 'add', 'Vui lòng nhập trường này');
                $('.span-error-add').each(function () {
                    if ($(this).text() != '') { check = false; return false; }
                })
                if (check == false) {
                    e.preventDefault();
                }
            })
    </script>

</body>
<!-- <%- include ('../layouts/footer') %> -->
</html>