<%- include ('../layouts/header')%>

    <body>
        <div class="body-loading">
            <div class="wrapper">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <span>Loading</span>
            </div>
        </div>
        <%- include ('../layouts/admin-sub-header')%>
            <div class="wrapper-index">
                <div class="ad-movie">
                    <div style="display: flex; justify-content: space-between;
                    flex-wrap: wrap;">
                        <div class="h5-detail">Quản lý phim</div>
                        <form action="" method="get" class="purchase-search search-admin" style="width: 40%; padding-left: 0 !important">
                            <input type="text" class="form-control" placeholder="Tìm kiếm" name="name" id="myInput">
                            <!-- <button class="submitsearch btn btn-buy btnSearchTime" type="button"><i class="fa fa-search"></i></button> -->
                        </form>
                    </div>
                    <span class="line-detail"></span>
                    <table class="table table-striped  table-bordered" style="font-size: 15px;">
                        <div class="no-show">
                            <h1>Không có phim nào phù hợp</h1>
                            <img src="/img/movie.gif" alt="">
                        </div>
                        <thead class="headerTable">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Tên phim</th>
                                <th scope="col" class="col-dir" style="width: 10%;">Đạo diễn</th>
                                <th scope="col" style="width: 12%;">Khởi chiếu</th>
                                <th scope="col">Thể loại</th>
                                <th scope="col" style="width: 11%;">Tình trạng</th>
                                <th scope="col" style="width: 1%;">
                                    <div class="btn-admin">
                                        <button type="button" id="btnAddFilm" class="btn-common btn-buy btn-add-film"
                                            data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"
                                                aria-hidden="true"></i>
                                            Thêm mới</button>
                                        <form action="/admin/film/add-film" method="post" enctype="multipart/form-data"
                                            id="formAddFilm">
                                            <div id="modalAddFilm" class="modal">
                                                <div class="modal-content modal-content-film">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Thêm phim</h4>
                                                        <button type="button" class="close-footer close"
                                                            data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body-plus">
                                                        <div class="modal-left">
                                                            <div class="col-5 img-add">
                                                                <div class="title-img">Ảnh phim</div>
                                                                <img id="img-edit-item"
                                                                    class="imgAddPreview imgavtadd imgavt"
                                                                    src="../img/no_img.webp" style="width: 100%;">
                                                                <input type="file" class="form-control imgChangeAdd"
                                                                    name="photo" id="img1" onchange="imgAvtAdd()"
                                                                    accept="image/png, image/jpeg, image/jpg"
                                                                    style="display: none;" name="photoFile">

                                                                <label class="btn-common" id="btn-edit-img-item"
                                                                    for="img1">Chọn ảnh</label>
                                                                    <span class="span-error-add"></span>
                                                                <input type="hidden" class="imgtest" name="imgAdd">
                                                            </div>
                                                            <div class="line-img"></div>
                                                            <div class="col-5 img-add">
                                                                <div class="title-img">Ảnh poster</div>
                                                                <img id="img-edit-item"
                                                                    class="imgAddPreview imgbgadd imgbg"
                                                                    src="../img/no_img.webp" style="width: 100%;">
                                                                <input type="file" class="form-control imgChangeAdd"
                                                                    name="background" id="img2" onchange="imgBgAdd()"
                                                                    accept="image/png, image/jpeg, image/jpg"
                                                                    style="display: none;" name="backgroundFile">
                                                                <label class="btn-common" id="btn-edit-img-item"
                                                                    for="img2">Chọn ảnh</label>
                                                                    <span class="span-error-add"></span>
                                                            </div>
                                                        </div>
                                                        <div class="modal-right">
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Tên phim</label>
                                                                <div class="input-ten">
                                                                    <input class="input-sua nameen"
                                                                        placeholder="Tên chính" type="text"
                                                                        name="nameEN">
                                                                        <span class="span-error-add"></span>
                                                                    <input class="input-sua namevn"
                                                                        placeholder="Tên phụ" type="text"
                                                                        name="nameVN">
                                                                </div>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Đạo diễn</label>
                                                                <div class="name-snack">
                                                                    <input class="input-sua directors" type="text"
                                                                    name="directors">
                                                                    <span class="span-error-add"></span>
                                                                </div>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet " for="">Diễn viên</label>
                                                                <div class="name-snack">
                                                                    <input class="input-sua cast" type="text" name="cast">
                                                                    <span class="span-error-add"></span>
                                                                </div>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Khởi chiếu</label>
                                                                <div class="name-snack">
                                                                    <input class="input-sua premiere" type="date"
                                                                    name="premiere">
                                                                    <span class="span-error-add"></span>
                                                                </div>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Thời gian</label>
                                                                <div class="name-snack">
                                                                    <input class="input-sua time" type="number" name="time">
                                                                    <span class="span-error-add"></span>
                                                                </div>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Thể loại</label>
                                                                <div class="add-cate">
                                                                    <div id="form-addCT">
                                                                        <div class="add-category lc-category sladd">
                                                                            <select class="input-sua selectadd"
                                                                                name="idCat" id="">
                                                                                <%cats.forEach(function(cat){%>
                                                                                    <option value="<%=cat._id%>">
                                                                                        <%=cat.title%>
                                                                                    </option>
                                                                                    <%})%>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn-CT" id="btnAddCT"
                                                                        type="button">Thêm thể loại</button>
                                                                </div>
                                                            </div>
                                                            <div class="agelimitEdit ad-phim">
                                                                <label class="label-chitiet" for="">Rating</label>
                                                                <div class=""
                                                                    style="display: flex; justify-content: center;">
                                                                    <div class="form-check radio-choose">
                                                                        <input class="form-check-input rating18"
                                                                            value="18" type="radio" name="ageLimit"
                                                                            id="flexRadioDefault1" checked>
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            <img class="img-cs" style="width: 70%;"
                                                                                src="/img/cs18.png">
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check radio-choose">
                                                                        <input class="form-check-input rating16"
                                                                            value="16" type="radio" name="ageLimit"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            <img class="img-cs" style="width: 70%;"
                                                                                src="/img/cs16.png">
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check radio-choose">
                                                                        <input class="form-check-input rating13"
                                                                            value="13" type="radio" name="ageLimit"
                                                                            id="flexRadioDefault1">
                                                                        <label class="form-check-label"
                                                                            for="flexRadioDefault1">
                                                                            <img class="img-cs" style="width: 70%;"
                                                                                src="/img/cs13.png">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Tình trạng</label>
                                                                <select class="input-sua status" name="status" id="">
                                                                    <option value="Đang khởi chiếu">Đang khởi chiếu
                                                                    </option>
                                                                    <option value="Sắp khởi chiếu">Sắp khởi chiếu
                                                                    </option>
                                                                    <option value="Đã chiếu xong">Đã chiếu xong</option>
                                                                </select>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Chi tiết</label>
                                                                <div class="name-snack">
                                                                    <textarea class="input-sua-area detail" cols="20"
                                                                    rows="10" name="detail"></textarea>
                                                                    <span class="span-error-add"></span>
                                                                </div>
                                                            </div>
                                                            <div class="ad-phim">
                                                                <label class="label-chitiet" for="">Trailer</label>
                                                                <div class="name-snack">
                                                                    <input class="input-sua trailer" type="url"
                                                                    name="trailer">
                                                                    <span class="span-error-add"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer footer-add">
                                                        <div class="footer-add-btn">
                                                            <button type="button"
                                                            class="btn btn-secondary close-footer close-CL">Đóng</button>
                                                        <button class="btn btn-common btn-warning close-AC btnadd" type="submit">Thêm</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="bodyAdd">
                            <% films.forEach(function(film){ %>
                                <tr class="<%= film.slug %>">
                                    <th scope="row" style="width: 15%">
                                        <img class="poster-admin-film avt" src="<%=film.photo%>" alt="">
                                    </th>
                                    <td style="width: 20%;">
                                        <div class="nameenedit">
                                            <%=film.nameEN%>
                                        </div>
                                        <div class="namevnedit">
                                            <%=film.nameVN%>
                                        </div>
                                    </td>
                                    <td class="directorsedit col-dir">
                                        <%= film.directors %>
                                    </td>
                                    <td class="premiereedit">
                                        <%= new Date(film.premiere).toLocaleDateString('en-GB') %>
                                    </td>
                                    <td class="categories">
                                        <%= film.idCat %>
                                    </td>
                                    <td>
                                        <div class="statusedit">
                                            <%= film.status%>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-mode">
                                            <button type="button"  onclick="editFilm(this);" class="btnEditFilm" value="<%= film.slug %>"><i
                                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            <button type="button" onclick="deleteFilm(this);" class="btnDeleteFilm" value="<%= film.slug %>"><i
                                                    class="fa fa-times" aria-hidden="true"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>


                                    <!-- Edit Film's infomation -->
                                    <form action="/admin/film/edit" method="post" enctype="multipart/form-data" id="formEditFilm"
                                        class="formeditfilm">
                                        <div id="modalEditFilm" class="modal modal-edit-film">
                                            <div class="modal-content modal-content-film edit-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Chỉnh sửa thông tin phim</h4>
                                                    <button type="button" class="close-footer close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body-plus">
                                                    <div class="modal-left">
                                                        <div class="col-5 img-add">
                                                            <div class="title-img">Ảnh phim</div>
                                                            <img id="img-edit-item"
                                                                class="imgAddPreview imgavt imgavtedit"
                                                                src="../img/no_img.webp" style="width: 100%;">
                                                            <input type="file" class="form-control imgChangeAdd"
                                                                accept="image/png, image/jpeg, image/jpg"
                                                                style="display: none;" onchange="imgAvtEdit()" id="img3"
                                                                name="photo">
                                                            <label class="btn-common btn-bold" id="btn-edit-img-item"
                                                                for="img3">Chọn
                                                                ảnh</label>
                                                            <input type="hidden" class="imgavted" name="imgEdit">
                                                            <input type="hidden" class="avteditshow">
                                                        </div>
                                                        <div class="line-img"></div>
                                                        <div class="col-5 img-add">
                                                            <div class="title-img">Ảnh poster</div>
                                                            <img id="img-edit-item"
                                                                class="imgAddPreview imgbg imgbgedit"
                                                                src="../img/no_img.webp" style="width: 100%;">
                                                            <input type="file" class="form-control imgChangeAdd"
                                                                accept="image/png, image/jpeg, image/jpg"
                                                                style="display: none;" onchange="imgBgEdit()" id="img4"
                                                                name="background">
                                                            <label class="btn-common btn-bold" id="btn-edit-img-item"
                                                                for="img4">Chọn
                                                                ảnh</label>
                                                            <input type="hidden" class="bgeditshow">
                                                        </div>
                                                    </div>
                                                    <div class="modal-right">
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Tên phim</label>
                                                            <div class="input-ten">
                                                                <input class="input-sua nameen"
                                                                    placeholder="Tên tiếng anh" type="text"
                                                                    name="nameEN">
                                                                    <span class="span-error-edit"></span>
                                                                <input class="input-sua namevn"
                                                                    placeholder="Tên tiếng việt" type="text"
                                                                    name="nameVN">
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Đạo diễn</label>
                                                            <div class="name-snack">
                                                                <input class="input-sua directors" type="text"
                                                                name="directors">
                                                                <span class="span-error-edit"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Diễn viên</label>
                                                            <div class="name-snack">
                                                                <input class="input-sua cast" type="text" name="cast">
                                                                <span class="span-error-edit"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Khởi chiếu</label>
                                                            <div class="name-snack">
                                                                <input class="input-sua premiere" type="date"
                                                                name="premiere">
                                                                <span class="span-error-edit"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Thời gian</label>
                                                            <div class="name-snack">
                                                                <input class="input-sua time" type="number" name="time">
                                                                <span class="span-error-edit"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Thể loại</label>
                                                            <div class="add-cate">
                                                                <div id="form-editCT">
                                                                    <div class="add-category lc-category sledit">
                                                                        <select class="input-sua selectedit"
                                                                            name="hihi">
                                                                            <%cats.forEach(function(cat){%>
                                                                                <option value="<%=cat._id%>">
                                                                                    <%=cat.title%>
                                                                                </option>
                                                                                <%})%>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <button class="btn-CT" id="btnEditCT" type="button">Thêm
                                                                    thể loại</button>
                                                            </div>

                                                        </div>
                                                        <div class="agelimitEdit ad-phim">
                                                            <label class="label-chitiet" for="">Rating</label>
                                                            <div class=""
                                                                style="display: flex; justify-content: center;">
                                                                <div class="form-check radio-choose">
                                                                    <input class="form-check-input rating18" value="18"
                                                                        type="radio" name="ageLimit"
                                                                        id="flexRadioDefault1" checked>
                                                                    <label class="form-check-label"
                                                                        for="flexRadioDefault1">
                                                                        <img class="img-cs" style="width: 70%;"
                                                                            src="/img/cs18.png">
                                                                    </label>
                                                                </div>
                                                                <div class="form-check radio-choose">
                                                                    <input class="form-check-input rating16" value="16"
                                                                        type="radio" name="ageLimit"
                                                                        id="flexRadioDefault1">
                                                                    <label class="form-check-label"
                                                                        for="flexRadioDefault1">
                                                                        <img class="img-cs" style="width: 70%;"
                                                                            src="/img/cs16.png">
                                                                    </label>
                                                                </div>
                                                                <div class="form-check radio-choose">
                                                                    <input class="form-check-input rating13" value="13"
                                                                        type="radio" name="ageLimit"
                                                                        id="flexRadioDefault1">
                                                                    <label class="form-check-label"
                                                                        for="flexRadioDefault1">
                                                                        <img class="img-cs" style="width: 70%;"
                                                                            src="/img/cs13.png">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Tình trạng</label>
                                                            <select class="input-sua status" name="status" id="">
                                                                <option value="Đang khởi chiếu">Đang khởi chiếu</option>
                                                                <option value="Sắp khởi chiếu">Sắp khởi chiếu</option>
                                                                <option value="Đã chiếu xong">Đã chiếu xong</option>
                                                            </select>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Chi tiết</label>
                                                            <div class="name-snack">
                                                                <textarea class="input-sua-area detail" name="detail" id=""
                                                                cols="20" rows="10"></textarea>
                                                                <span class="span-error-edit"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Trailer</label>
                                                            <div class="name-snack">
                                                                <input class="input-sua trailer" type="url" name="trailer">
                                                                <span class="span-error-edit"></span>   
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input type="hidden" class="avtimg" name="avtimg">
                                                <input type="hidden" class="bgimg" name="bgimg">
                                                <input type="hidden" class="idfilm" name="idFilm">
                                                <div class="modal-footer footer-add">
                                                    <div class="footer-add-btn">
                                                        <button type="button"
                                                        class="btn btn-secondary close-footer close-CL">Đóng</button>
                                                    <button class="btn btn-common btn-warning submitedit close-AC" type="submit">Xác nhận</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                        </tbody>
                    </table>

                </div>
            </div>
            <script src="../js/jquery.min.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <script src="../js/trigger.js"></script>
            <script src="../js/modal.js"></script>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
    <script>
        var imgavtadd = document.getElementsByClassName('imgavtadd')[0]
        function imgAvtAdd() {
            if (event.target.files.length > 0) {
                let src = URL.createObjectURL(event.target.files[0]);
                document.getElementsByClassName('imgtest')[0].value = src
                imgavtadd.src = src;
            }else{
                imgavtadd.src='../img/no_img.webp'
                document.getElementsByClassName('imgtest')[0].value = ''
            }
        }
        var imgbgadd = document.getElementsByClassName('imgbgadd')[0]
        function imgBgAdd() {
            if (event.target.files.length > 0) {
                let src = URL.createObjectURL(event.target.files[0]);
                imgbgadd.src = src;
            }else{
                imgbgadd.src='../img/no_img.webp'
            }
        }
        var imgavtedit = document.getElementsByClassName('imgavtedit')[0]
           
        function imgAvtEdit() {
            let avtedit = document.getElementsByClassName('avteditshow')[0].value     
            if (event.target.files.length > 0) {
                let src = URL.createObjectURL(event.target.files[0]);
                document.getElementsByClassName('imgavted')[0].value = src
                imgavtedit.src = src;
            }else{
                imgavtedit.src=avtedit
                document.getElementsByClassName('imgavted')[0].value = ''
            }
        }
        var imgbgedit = document.getElementsByClassName('imgbgedit')[0]
        
        function imgBgEdit() {
            let bgedit = document.getElementsByClassName('bgeditshow')[0].value
            if (event.target.files.length > 0) {
                let src = URL.createObjectURL(event.target.files[0]);
                imgbgedit.src = src;
            }else{
                imgbgedit.src=bgedit
            }
        }
    </script>
<script>
     $('.no-show').hide();
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#bodyAdd tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        if($("#bodyAdd tr:visible").length===0){
            $('.no-show').show();
            $('.headerTable').hide();
        }else{
            $('.no-show').hide();
            $('.headerTable').show();
        }
      });
    });
</script>
<script src="/js/validate-thitran.js"></script>
<script>
    isRequired($("[name='nameEN']").eq(1), 'add');
    isRequired($("[name='directors']").eq(1), 'add');
    isRequired($("[name='cast']").eq(1), 'add');
    isRequired($("[name='premiere']").eq(1), 'add');
    isRequired($("[name='time']").eq(1), 'add');
    isRequired($("[name='detail']").eq(1), 'add');    
    isRequired($("[name='photo']").eq(1), 'add');
    isRequired($("[name='background']").eq(1), 'add');
    isRequired($("[name='trailer']").eq(1), 'add');
    $('.btnadd').click(function (e) {             
        var check = true;
        checkform([$("[name='nameEN']").eq(1), $("[name='directors']").eq(1), $("[name='cast']").eq(1)
        , $("[name='premiere']").eq(1), $("[name='time']").eq(1), $("[name='detail']").eq(1)
        , $("[name='photo']").eq(1), $("[name='background']").eq(1), $("[name='trailer']").eq(1)],
         'add', 'Vui lòng nhập trường này');
        $('.span-error-add').each(function () {
            if ($(this).text() != '') { check = false; return false; }
        })             
        if (!check) {
            e.preventDefault();            
        }
    })
    isRequired($("[name='nameEN']").eq(0), 'edit');
    isRequired($("[name='directors']").eq(0), 'edit');
    isRequired($("[name='cast']").eq(0), 'edit');
    isRequired($("[name='premiere']").eq(0), 'edit');
    isRequired($("[name='time']").eq(0), 'edit');
    isRequired($("[name='detail']").eq(0), 'edit');
    isRequired($("[name='trailer']").eq(0), 'edit');    
    $('.submitedit').click(function (e) {             
        var check = true;
        checkform([$("[name='nameEN']").eq(0), $("[name='directors']").eq(0), $("[name='cast']").eq(0)
        , $("[name='premiere']").eq(0), $("[name='time']").eq(0), $("[name='detail']").eq(0)
        , $("[name='trailer']").eq(0)],
         'edit', 'Vui lòng nhập trường này');
        $('.span-error-edit').each(function () {
            if ($(this).text() != '') { check = false; return false; }
        })             
        if (!check) {
            e.preventDefault();            
        }
    })
</script>

</html>