<%- include('../layouts/header') %>

<body>
    <%- include('../layouts/admin-sub-header') %>
    <div class="wrapper-index">
        <div class="ad-movie">
            <div class="wrap-headerAd">
                <div class="h5-detail">Thống kê doanh thu</div>
                <div class="tab-sat">                
                    <ul class="nav nav-tabs menu-stat sat-menu-tab">
                        <li class="nav-item sat-item">
                            <a class="nav-link active" href="#stat-month1" data-bs-toggle="tab" data-bs-target="#stat-month1" role="tab"
                                aria-controls="status" aria-selected="true">Báo cáo</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #eee;" class="nav-link" href="#stat-month2" data-bs-toggle="tab"
                                data-bs-target="#stat-month2" role="tab" aria-controls="status" aria-selected="true">Biểu đồ</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="tab-content sat-content">
                <div class="tab-pane active" id="stat-month1" role="tabpanel">
                    <table class="table table-striped  table-bordered" style="font-size: 15px;">
                        <thead>
                            <tr>
                                <th scope="col">Tháng</th>
                                <th scope="col">SL vé đơn</th>
                                <th scope="col">SL vé couple</th>
                                <th scope="col">Doanh thu</th>
                                <th scope="col">Khuyến mãi</th>
                                <th scope="col">Thực thu</th>
                            </tr>
                        </thead>
                        <tbody id="datareport">
                            <% 
                                const reducer = (accumulator, curr) => accumulator + curr;
                            %>
                            <tr>
                                <th scope="row" >
                                    Tổng
                                </th>
                                <th style="width: 20%;">
                                    <%= tk1.reduce(reducer)%>
                                </th>
                                <th>
                                    <%= tk2.reduce(reducer)%>
                                </th>
                                <th>
                                    <%= datayearfull.reduce(reducer).toLocaleString('de-DE')%> VNĐ
                                </th>
                                <th>
                                    <%= (datayearfull.reduce(reducer)-datayear.reduce(reducer)).toLocaleString('de-DE')%> VNĐ
                                </th>
                                <th>
                                    <%= datayear.reduce(reducer).toLocaleString('de-DE')%> VNĐ
                                </th>
                            </tr> 
                            <% for(var i=0; i<12; i++) {%>
                                <% if(datayearfull[i]!=0){ %>
                                    <tr>
                                        <td scope="row">
                                            Tháng <%=i+1%>
                                        </td>
                                        <td style="width: 20%;">
                                            <%= tk1[i] %>
                                        </td>
                                        <td>
                                            <%= tk2[i] %>
                                        </td>
                                        <td>
                                            <%=datayearfull[i].toLocaleString('de-DE')%> VNĐ
                                        </td>
                                        <td>
                                            <%= (datayearfull[i]-datayear[i]).toLocaleString('de-DE')%> VNĐ
                                        </td>
                                        <td>
                                            <%=datayear[i].toLocaleString('de-DE')%> VNĐ
                                        </td>
                                    </tr>  
                                <% } %>                                                              
                            <% } %> 
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="stat-month2" role="tabpanel">
                    <div class="container">
                        <canvas id="myChart1"></canvas>
                    </div>
                    <input type="hidden" class="datayear" value="<%= datayear %>">
                    <input type="hidden" class="year" value="<%= year %>">
                    
                    <script>
                        let myChart1 = document.getElementById('myChart1').getContext('2d');
                        // Global Options
                        Chart.defaults.global.defaultFontFamily = 'sans-serif';
                        Chart.defaults.global.defaultFontSize = 18;
                        Chart.defaults.global.defaultFontColor = '#777';
                        var datayear = $('.datayear').val()
                        var year = $('.year').val()
                        let massPopChart1 = new Chart(myChart1, {
                            type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                            data: {
                                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                                    'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                                datasets: [{
                                    label: 'Doanh thu',
                                    data: datayear.split(','),
                                    backgroundColor: [
                                    'rgb(254 199 88)',
                                    ],
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'DOANH THU NĂM '+year,
                                    fontSize: 25
                                },
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontColor: '#000'
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        bottom: 0,
                                        top: 0
                                    }
                                },
                                tooltips: {
                                    enabled: true
                                }
                            }
                        });
                    </script>
                </div>
                <form action="/admin/statistical/month" method="POST" style="text-align: center;margin-top: 30px;">
                    <input class="ipgetyear" type="number" min="1900" max="2099" step="1" value="<%=year%>" name="getyear"/>                                            
                    <button class="xemthang btn-see" type="button">Xem</button> 
                </form>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/trigger.js"></script>
    <script src="../js/admin-snack.js"></script>
</body>
<script>
    const reducer = (accumulator, curr) => accumulator + curr;    
    $(".xemthang").on('click', function(){
            var getyear = $(".ipgetyear").val()            
            $.ajax({
                url:"/admin/statistical/month",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({getyear:getyear}),
                success: function(result){           
                    var data=`
                        <tr>
                            <th scope="row" >
                                Tổng
                            </th>
                            <th style="width: 20%;">
                                ${result.tk1.reduce(reducer)}
                            </th>
                            <th>
                                ${result.tk2.reduce(reducer)}
                            </th>
                            <th>
                                ${result.datayearfull.reduce(reducer).toLocaleString('de-DE')} VNĐ
                            </th>
                            <th>
                                ${ (result.datayearfull.reduce(reducer)-result.datayear.reduce(reducer)).toLocaleString('de-DE')} VNĐ
                            </th>
                            <th>
                                ${ result.datayear.reduce(reducer).toLocaleString('de-DE')} VNĐ
                            </th>
                        </tr>
                    `                    
                    for(var i=0; i<12; i++) {
                        if(result.datayearfull[i]!=0){
                            data+=`
                            <tr>
                                <td scope="row">
                                    Tháng ${i+1}
                                </td>
                                <td style="width: 20%;">
                                    ${result.tk1[i]}
                                </td>
                                <td>
                                    ${result.tk2[i]}
                                </td>
                                <td>
                                    ${result.datayearfull[i].toLocaleString('de-DE')} VNĐ
                                </td>
                                <td>
                                    ${ (result.datayearfull[i]-result.datayear[i]).toLocaleString('de-DE')} VNĐ
                                </td>
                                <td>
                                    ${result.datayear[i].toLocaleString('de-DE')} VNĐ
                                </td>
                            </tr>`  
                        }                                                              
                    }   
                    $('#datareport').html(data)     
                   massPopChart1.destroy()
                   massPopChart1 = new Chart(myChart1, {
                        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                        data: {
                            labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                                'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                            datasets: [{
                                label: 'Doanh thu',
                                data: result.datayear,
                                backgroundColor: [
                                'rgb(254 199 88)',
                                ],
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'DOANH THU NĂM '+result.year,
                                fontSize: 25
                            },
                            legend: {
                                display: true,
                                position: 'right',
                                labels: {
                                    fontColor: '#000'
                                }
                            },
                            layout: {
                                padding: {
                                    left: 50,
                                    right: 0,
                                    bottom: 0,
                                    top: 0
                                }
                            },
                            tooltips: {
                                enabled: true
                            }
                        }
                    });    
                }
            })
        })
</script>
</html>