<%- include('../layouts/header') %>

<body>
    <%- include('../layouts/admin-sub-header') %>
    <div class="body-loading">
        <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <span>Loading</span>
        </div>
    </div>
    <div class="wrapper-index">
        <div class="ad-movie ad-event">
            <div style="display: flex; justify-content: space-between;
            flex-wrap: wrap;" >
                <div class="h5-detail">Quản lý sự kiện</div>
                <form action="" method="get" class="purchase-search search-admin" style="width: 40%; padding-left: 0 !important">
                    <input id="myInput" type="text" class="form-control" placeholder="Tìm kiếm" name="name">
                    <!-- <button class="submitsearch btn btn-buy btnSearchTime" type="button"><i class="fa fa-search"></i></button> -->
                </form>
            </div>
            <span class="line-detail"></span>            
                <table class="table table-bordered" style="font-size: 15px;">
                    <div class="no-show">
                        <h1>Không có sự kiện nào phù hợp</h1>
                        <img src="/img/movie.gif" alt="">
                    </div>   
                    <thead class="headerTable">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Tiêu đề</th>
                            <th scope="col" style="width: 9%;">Ngày tạo</th>
                            <th scope="col" class="col-dir">Nội dung</th>
                            <th scope="col" style="width: 1%;">
                                <div class="btn-admin">
                                    <button type="button" id="btnAddEvent" class="btn-common btn-buy btn-add-room"
                                        data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-plus"
                                            aria-hidden="true"></i>
                                        Thêm mới</button>
                                    <form action="/admin/event/add" method="post" enctype="multipart/form-data" id="formAddEvent">
                                        <div id="modalAddEvent" class="modal">
                                            <div class="modal-content content-event">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Thêm sự kiện</h4>
                                                    <button type="button" class="close-event close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body-plus modal-body-event">
                                                    <div class="event-up">
                                                        <div class="modal-left">
                                                            <div class="col-5 img-add img-event">
                                                                <img id="img-edit-item" class="imgAddPreview imgadd img"
                                                                src="../img/no_img.webp" style="width: 100%;">
                                                                <input type="file" class="form-control imgChangeAdd inputimg"
                                                                    name="photo" id="img1" onchange="imgAdd()"
                                                                    accept="image/png, image/jpeg, image/jpg"
                                                                    style="display: none;">
                                                                <label class="btn-common" id="btn-edit-img-item"
                                                                    for="img1">Thêm ảnh</label>
                                                                    <span class="span-error-add"></span>
                                                            </div>
                                                        </div>
                                                        <div class="modal-right" style="padding-top: 19px;">                                                                                                               
                                                            <label class="label-chitiet" for="">Tiêu đề</label>                                                                                                                
                                                            <div class="input-ten">
                                                                <input style="width: 100% !important;padding: 10px;" class="form-control input-sua title" placeholder="Tiêu đề" type="text" name="title">
                                                                <span class="span-error-add"></span>
                                                            </div>
                                                            <label class="label-chitiet" for="">Thể loại</label> 
                                                            <div>
                                                                <select name="type" class="form-control selecttype sladd type" onchange="checkchange()">                                                            
                                                                    <option value="Tin tức">Tin tức</option>
                                                                    <option value="Khuyến mãi">Khuyến mãi</option>
                                                                </select>
                                                            </div>
                                                            <div style="display: none;" class="inputkhuyenmai">
                                                                <div class="add-km">
                                                                    <input class="form-control idkm" type="text" placeholder="Mã khuyến mã" name="code"/>                                                                    
                                                                    <input class="form-control valuekm" type="number" placeholder="Giá trị(%)" name="value"/>
                                                                    <span class="span-error-add"></span>
                                                                </div>                                                                
                                                                <div class="add-km" style="margin-top: 5px;">
                                                                    <div class="time-km" style="margin-right: 5px;">
                                                                        Từ ngày<input class="form-control date-from-km datefrom" type="date" name="datefrom"/>
                                                                        <span class="span-error-add"></span>
                                                                    </div>
                                                                    <div class="time-km">
                                                                        Đến ngày<input class="form-control date-to-km dateto" type="date" name="dateto"/>
                                                                        <span class="span-error-add"></span>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>        
                                                        </div>
                                                    </div>
                                                    <div class="event-down">
                                                        <label class="label-chitiet" for="">Nội dung</label>
                                                        <span class="span-error-add"></span>
                                                        <textarea class="input-sua" id="eventContent" name="ct"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer footer-add">
                                                    <div class="footer-add-btn">
                                                        <button type="button"
                                                        class="btn btn-secondary close-event  close-CL">Đóng</button>
                                                        <button type="submit" class="btn-common  close-AC btnadd">Thêm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="bodyAdd">
                        <!-- <tr class="no-show">
                            <td colspan="5">
                                <div style="zoom: 70%;margin-top: 20px;">
                                    <h1>Không tìm thấy phim.</h1>
                                    <img src="/img/movie.gif" alt="">
                                </div>
                            </td>                               
                        </tr>   -->
                        <%events.forEach(function(event){%> 
                            <tr class="<%= event.slug%>">
                                <th scope="row" style="width: 15%">
                                    <img class="event-image imgshow" src="<%=event.photo%>" alt="">
                                </th>
                                <td class="event-tit titleshow">
                                    <%=event.title%>
                                </td>
                                <td><%=event.time.toJSON().slice(0,10).split('-').reverse().join('/')%></td>
                                <td class="event-des contentshow col-dir"><%-event.content%></td>
                                <td>
                                    <div class="btn-mode">
                                        <button type="button" onclick="editEvent(this);" class="btnEditEvent" value="<%= event.slug %>"><i class="fa fa-pencil-square-o"
                                                aria-hidden="true" ></i></button>
                                        <button type="button" onclick="deleteEvent(this);" class="btnDeleteEvent" value="<%= event.slug %>"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </div>
                                </td>
                            </tr>
                        <%})%>
                        <!-- form nút sửa -->
                        <form action="" method="post" enctype="multipart/form-data" id="formEditEvent">
                            <div id="modalEditEvent" class="modal">
                                <div class="modal-content content-event">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Chỉnh sửa thông tin sự kiện</h4>
                                        <button type="button" class="close-event close"
                                            data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body-plus modal-body-event">
                                        <input type="hidden" class="pimg" name="pimg">
                                        <div class="event-up event-edit-up">
                                            <div class="modal-left">
                                                <input type="hidden" class="imgsrc">
                                                <div class="col-5 img-add img-event">
                                                    <img id="img-edit-item" class="imgAddPreview imgedit img"
                                                    src="../img/no_img.webp" style="width: 100%;">
                                                    <input type="file" class="form-control imgChangeAdd"
                                                        name="photo" id="img2" onchange="imgEdit()"
                                                        accept="image/png, image/jpeg, image/jpg"
                                                        style="display: none;">
                                                    <label class="btn-common" id="btn-edit-img-item"
                                                        for="img2">Chọn ảnh</label>
                                                </div>
                                            </div>
                                            <div class="modal-right" style="padding-top: 19px;">                                                                                                               
                                                <label class="label-chitiet" for="">Tiêu đề</label>                                                                                                                
                                                <div class="input-ten">
                                                    <input style="width: 100% !important;padding: 10px;" class="form-control input-sua title" placeholder="Tiêu đề" type="text" name="title">
                                                    <span class="span-error-edit"></span>   
                                                </div>
                                                <label class="label-chitiet" for="">Thể loại</label> 
                                                <div>
                                                    <select class="form-control selecttype type" disabled>                                                            
                                                        <option value="Tin tức">Tin tức</option>
                                                        <option value="Khuyến mãi">Khuyến mãi</option>
                                                    </select>
                                                </div>
                                                <div style="display: none;" class="inputkhuyenmaiedit">
                                                    <div class="add-km">
                                                        <input class="form-control idkm" type="text" placeholder="Mã khuyến mã" name="code" disabled/>
                                                        <input class="form-control valuekm" type="number" placeholder="Giá trị(%)" name="value"/>
                                                        <span class="span-error-edit"></span>   
                                                    </div>
                                                    <div class="add-km" style="margin-top: 5px;">
                                                        <div class="time-km" style="margin-right: 5px;">
                                                            Từ ngày<input class="form-control date-from-km" type="date" name="datefrom"/>
                                                            <span class="span-error-edit"></span>
                                                        </div>
                                                        <div class="time-km">
                                                            Đến ngày<input class="form-control date-to-km" type="date" name="dateto"/>
                                                            <span class="span-error-edit"></span>
                                                        </div>
                                                        
                                                    </div>
                                                </div>        
                                            </div>
                                        </div>
                                        <div class="event-down">
                                            <label class="label-chitiet" for="">Nội dung</label>
                                            <span class="span-error-edit"></span>   
                                            <textarea class="input-sua content" id="editEventContent" name="ct" ></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer footer-add">
                                        <div class="footer-add-btn">
                                            <button type="button"
                                            class="btn btn-secondary close-event  close-CL">Đóng</button>
                                            <button type="submit" id="btnsave" class="btn-common close-AC btnsave">Lưu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>                        
                    </tbody>
                </table>
        </div>
    </div>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../ckeditor/ckeditor.js"></script>
    <script src="/js/admin-event.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<script>
    var imgadd = document.getElementsByClassName('imgadd')[0]    
    function imgAdd() {
        if (event.target.files.length > 0) {
            let src = URL.createObjectURL(event.target.files[0]);            
            imgadd.src = src;
        }else{
            imgadd.src='../img/no_img.webp'            
        }
    }
    var imgedit = document.getElementsByClassName('imgedit')[0]    
    function imgEdit() {
        if (event.target.files.length > 0) {
            let src = URL.createObjectURL(event.target.files[0]);            
            imgedit.src = src;
        }else{
            imgedit.src=$('.imgsrc').val()
        }
    }
    function checkchange(){        
        if($("option:selected").eq(1).val()=="Khuyến mãi"){            
            document.getElementsByClassName("inputkhuyenmai")[0].style.display = "block";                
        }else{
            document.getElementsByClassName("inputkhuyenmai")[0].style.display = "none";
        }        
    }
    /*  */
</script>
<script>    
    
    $(document).ready(function(){
        $('.no-show').hide();
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#bodyAdd tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        if($("#bodyAdd tr:visible").length===0){
            $('.no-show').show();
            $('.headerTable').hide();
        }else{
            $('.no-show').hide();
            $('.headerTable').show();
        }
      });
    });
</script>
<script src="/js/validate-thitran.js"></script>
<script>   
    timer = setInterval(updatecdt1,100);
    function updatecdt1(){
        var editorText =  CKEDITOR.instances['eventContent'].getData();
        if(editorText!=""){
            $('#eventContent').parent().find('.span-error-add').html(null)
        }
        $('#eventContent').val(editorText)
    }
    isRequired($("[name='title']").eq(1), 'add');
    isRequired($("[name='photo']").eq(1), 'add');    
    isRequired($("[name='code']").eq(1), 'add');
    isRequired($("[name='value']").eq(1), 'add');
    isRequired($("[name='datefrom']").eq(1), 'add');
    isRequired($("[name='dateto']").eq(1), 'add');
    isRequired($("[name='ct']").eq(1), 'add');
    checkDate($("[name='datefrom']").eq(1),$("[name='dateto']").eq(1),'add')
    $('.btnadd').click(function (e) {             
        var check = true;
        if($("option:selected").eq(1).val()=="Khuyến mãi"){
            checkform([$("[name='title']").eq(1), $("[name='photo']").eq(1), $("[name='code']").eq(1)
            , $("[name='value']").eq(1), $("[name='datefrom']").eq(1), $("[name='dateto']").eq(1),$("[name='ct']").eq(1)],
            'add', 'Vui lòng nhập trường này');
        }else{
            checkform([$("[name='title']").eq(1),$("[name='photo']").eq(1),$("[name='ct']").eq(1)],
            'add', 'Vui lòng nhập trường này');
        }
        $('.span-error-add').each(function () {            
            if ($(this).text() != '') { check = false; return false; }
        })        
        if (!check) {
            e.preventDefault();            
        }
    })
    timer2 = setInterval(updatecdt2,100);
    function updatecdt2(){
        var editorText2 =  CKEDITOR.instances['editEventContent'].getData();
        if(editorText2!=""){
            $('#editEventContent').parent().find('.span-error-edit').html(null)
        }
        $('#editEventContent').val(editorText2)
    }

    isRequired($("[name='title']").eq(0), 'edit');    
    isRequired($("[name='value']").eq(0), 'edit');
    isRequired($("[name='datefrom']").eq(0), 'edit');
    isRequired($("[name='dateto']").eq(0), 'edit');
    isRequired($("[name='ct']").eq(0), 'edit');
    checkDate($("[name='datefrom']").eq(0),$("[name='dateto']").eq(0),'edit')
    $('.btnsave').click(function (e) {             
        var check = true;
        if($("option:selected").eq(0).val()=="Khuyến mãi"){
            checkform([$("[name='title']").eq(0), $("[name='value']").eq(0), $("[name='datefrom']").eq(0),
             $("[name='dateto']").eq(0),$("[name='ct']").eq(0)],
            'edit', 'Vui lòng nhập trường này');
        }else{
            checkform([$("[name='title']").eq(0),$("[name='ct']").eq(0)],
            'edit', 'Vui lòng nhập trường này');
        }
        $('.span-error-edit').each(function () {            
            if ($(this).text() != '') { check = false; return false; }
        })        
        if (!check) {
            e.preventDefault();            
        }
    })
</script>
</html>