<%- include('../layouts/header') %>
<%function formatNumber(num) {%>
    <%    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')%>
    <%}%>
<body>
    <%- include('../layouts/admin-sub-header') %>
    <div class="wrapper-index">
        <div class="ad-movie">
            <div style="display: flex; justify-content: space-between;
            flex-wrap: wrap;">
                <div class="h5-detail">Quản lý đồ ăn vặt</div>
                <form action="/admin/room/search-room" method="get" class="purchase-search search-admin" style="width: 40%; padding-left: 0 !important">
                    <input type="text" id="myInput" class="form-control" placeholder="Tìm kiếm" name="nameRoom">
                    <!-- <button class="submitsearch btn btn-buy btnSearchTime" type="submit"><i class="fa fa-search"></i></button> -->
                </form>
            </div>
            <span class="line-detail"></span>
                <table class="table table-striped  table-bordered" style="font-size: 15px;">
                    <div class="no-show">
                        <h1>Không có kết quả nào phù hợp</h1>
                        <img src="/img/movie.gif" alt="">
                    </div>
                    <thead class="headerTable">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Tên</th>
                            <th scope="col">Loại</th>
                            <th scope="col">Giá bán</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col" style="width: 1%;">
                                <div class="btn-admin">
                                    <button type="button" id="btnAddSnack" class="btn-common btn-buy btn btn-add-film" data-toggle="modal"
                                        data-target=".bd-example-modal-lg"><i class="fa fa-plus" aria-hidden="true"></i>
                                        Thêm mới</button>
                                    <form class="formAdd" action="" method="">
                                        <div id="modalAddSnack" class="modal modal-add-snack">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Thêm món ăn vặt</h4>
                                                    <button type="button" class="close-snack close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body-plus">
                                                    <div class="modal-left">
                                                        <div class="col-5 img-add">
                                                            <img id="img-edit-item" class="imgAddPreview"
                                                                src="/img/no_img.webp" style="width: 100%;">
                                                            <input onchange="loadImg(this);" type="file" class="form-control imgChangeAdd"
                                                                name="image" id="img1"
                                                                accept="image/*"
                                                                style="display: none;">
                                                            <label class="btn-common" id="btn-edit-img-item"
                                                                for="img1">Chọn ảnh</label>
                                                                <span class="span-error-add"></span>
                                                        </div>
                                                    </div>
                                                    <div class="modal-right">
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Tên</label>
                                                            <div class="name-snack">
                                                                <input name="name" class="input-sua nameAdd" placeholder="Tên món"
                                                                type="text">
                                                                <span class="span-error-add"></span>
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Loại</label>
                                                            <select class="input-sua typeAdd" name="type" id="">
                                                                <option value="Đồ ăn">Đồ ăn</option>
                                                                <option value="Nước uống">Nước uống</option>
                                                                <option value="Combo">Combo</option>
                                                            </select>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Giá bán</label>
                                                            <div class="name-snack">
                                                                <input name="price" class="input-sua priceAdd" placeholder="Giá bán"
                                                                type="number">
                                                                <span class="span-error-add"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer footer-add">
                                                    <p class="alertAdd"></p>
                                                    <div class="footer-add-btn">
                                                        <button type="button"
                                                        class="btn btn-secondary close-snack close-CL">Đóng</button>
                                                        <button type="button" class="btn-common saveAdd close-AC">Thêm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <%snacks.forEach(function(snack){%>
                            <tr class="trClosest">
                                <th scope="row" style="width: 10%">
                                    <img class="photoShow" style="width: 100%" src="<%=snack.photo%>" alt="">
                                </th>
                                <td class="nameShow" style="width: 20%;">
                                    <%=snack.name%>
                                </td>
                                <td class="typeShow"><%=snack.type%></td>
                                <td class="priceShow"><%=formatNumber(snack.price)%> VNĐ</td>
                                <td>
                                    <div class="form-check form-switch" style="padding-left: 2.5rem;">
                                        <input id="<%=snack._id%>" onchange="blockBtnHandle(this);" class="swclosed form-check-input" <%if (snack.block==0){%>checked<%}%>  type="checkbox" role="switch" />
                                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-mode">
                                        <button type="button" onclick="loadEdit(this);" id="<%=snack._id%>" class="btnEditSnack"><i class="fa fa-pencil-square-o"
                                            aria-hidden="true"></i></button>
                                        <button onclick="handleDelete(this)" id="<%=snack._id%>" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </div>
                                </td>
                            </tr>
                        <%})%>
                        

                        <!-- form nút sửa -->
                        <form class="formEdit" action="" method="">
                            <div id="modalEditSnack" class="modal modal-add-st">
                                
                                <div class="modal-content">
                                    <div class="body-loading loading-model">
                                        <div class="wrapper" style="top: 29%">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="shadow"></div>
                                            <div class="shadow"></div>
                                            <div class="shadow"></div>
                                            <span>Loading</span>
                                        </div>
                                    </div>
                                    <div class="modal-header">
                                        <h4 class="modal-title">Chỉnh sửa thông tin đồ ăn vặt</h4>
                                        <button type="button" class="close-snack close"
                                            data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body-plus">
                                        <div class="modal-left">
                                            <div class="col-5 img-add">
                                                <img id="img-edit-item" class="imgEditPreview"
                                                    src="/img/no_img.webp" style="width: 100%;">
                                                <input onchange="loadImg(this);" type="file" class="form-control imageChangeEdit"
                                                    name="image" id="img2"
                                                    accept="image/*"
                                                    style="display: none;" valueImage="" >
                                                <label class="btn-common" id="btn-edit-img-item"
                                                    for="img2">Chọn ảnh</label>
                                                    <span class="span-error-edit"></span>
                                            </div>
                                        </div>
                                        <div class="modal-right">
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Tên</label>
                                                <div class="name-snack">
                                                    <input name="name" class="input-sua nameEdit" value="CoCa CoLa"
                                                    type="text">
                                                    <span class="span-error-edit"></span>
                                                </div>
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Loại</label>
                                                <select class="input-sua typeEdit" name="type" id="">
                                                    <option value="Đồ ăn">Đồ ăn</option>
                                                    <option value="Nước uống">Nước uống</option>
                                                    <option value="Combo">Combo</option>
                                                </select>
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Giá bán</label>
                                                <div class="name-snack">
                                                    <input name="price" class="input-sua priceEdit" value="30000"
                                                    type="number">
                                                    <span class="span-error-edit"></span>
                                                </div>
                                            </div>
                                            <input type="hidden" class="photoHidden" name="" id="">
                                            <input type="hidden" class="pimage" name="pimage" value="" id="">
                                            <input type="hidden" class="idHidden" name="idSnack" id="">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <p class="alertEdit"></p>
                                        <button type="button" class="btn btn-secondary close-snack">Đóng</button>
                                        <button type="button" class="saveEdit btn-common close-AC">Xác nhận</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tbody>
                </table>
        </div>
    </div>
    <script src="/js/validate-thitran.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/admin-snack.js"></script>
</body>
<script>
    $(document).ready(function(){
        $('.no-show').hide();
    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        if($("#myTable tr:visible").length===0){
            $('.no-show').show();
            $('.headerTable').hide();
        }else{
            $('.no-show').hide();
            $('.headerTable').show();
        }
    });
    });
</script>
<script>
    var imgPrv = document.querySelector('.imgAddPreview');
    var imgEditPrv = document.querySelector('.imgEditPreview');
        function loadImg(e){
           if (e.parentElement.querySelector('.span-error-add'))  e.parentElement.querySelector('.span-error-add').innerText='';
            if (event.target.files.length > 0) {
                let src = URL.createObjectURL(event.target.files[0]);
                imgPrv.src=src;
                imgEditPrv.src=src;
            }
            else{
                if ($('.imageChangeEdit').val()=='') imgEditPrv.src=$('.photoHidden').val();
                else imgEditPrv.src='/img/no_img.webp'
                imgPrv.src='/img/no_img.webp'
            }
  }
</script>
</html>