<%- include('../layouts/header') %>

<body>
    <%- include('../layouts/admin-sub-header') %>
    <div class="wrapper-index">
        <div class="ad-movie">
            <div class="wrap-headerAd">
                <div class="h5-detail">Thống kê doanh thu</div>
                <div class="tab-sat">                
                    <ul class="nav nav-tabs menu-stat sat-menu-tab">
                        <li class="nav-item sat-item">
                            <a class="nav-link active" href="#stat-film1" data-bs-toggle="tab" data-bs-target="#stat-film1"
                                role="tab" aria-controls="status" aria-selected="true">Báo cáo</a>
                        </li>
                        <li class="nav-item sat-item">
                            <a style="color: #eee;" class="nav-link" href="#stat-film2" data-bs-toggle="tab"
                                data-bs-target="#stat-film2" role="tab" aria-controls="status" aria-selected="true">Biểu
                                đồ</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="tab-content sat-content">
                <div class="tab-pane active" id="stat-film1" role="tabpanel">
                    <table class="table table-striped  table-bordered" style="font-size: 15px;">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 15%"></th>
                                <th scope="col">Tên phim</th>
                                <th scope="col">SL suất chiếu</th>
                                <th scope="col">Doanh thu</th>
                                <th scope="col">Khuyến mãi</th>
                                <th scope="col">Thực thu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% 
                                const reducer = (accumulator, curr) => accumulator + curr;
                            %>
                            <tr>
                                <th scope="row" >
                                    Tổng
                                </th>
                                <th>

                                </th>
                                <th>
                                    <%= tk.reduce(reducer)%>
                                </th>
                                <th>
                                    <%= datafilmfull.reduce(reducer).toLocaleString('de-DE')%> VNĐ
                                </th>
                                <th>
                                    <%= (datafilmfull.reduce(reducer)-datafilm.reduce(reducer)).toLocaleString('de-DE')%> VNĐ
                                </th>
                                <th>
                                    <%= datafilm.reduce(reducer).toLocaleString('de-DE')%> VNĐ
                                </th>
                            </tr>                             
                            <% for(var i=0; i<films.length; i++) {%>
                                <% if(datafilmfull[i]!=0){ %>
                                    <tr>
                                        <td scope="row">
                                            <img class="poster-admin-film" style="width: 100%" src="<%=films[i].photo%>" alt="Megas">
                                        </td>
                                        <td>
                                            <div><%=films[i].nameEN%></div>
                                            <div><%=films[i].nameVN%></div>
                                        </td>
                                        <td>
                                            <%=tk[i]%>
                                        </td>
                                        <td>
                                            <%=datafilmfull[i].toLocaleString('de-DE')%> VNĐ
                                        </td>
                                        <td>
                                            <%= (datafilmfull[i]-datafilm[i]).toLocaleString('de-DE')%> VNĐ
                                        </td>
                                        <td>
                                            <%=datafilm[i].toLocaleString('de-DE')%> VNĐ
                                        </td>
                                    </tr>                                    
                                <% } %>                                                              
                            <% } %>  
                            
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="stat-film2" role="tabpanel">
                    <div class="container">
                        <canvas id="myChart2"></canvas>
                    </div>
                    <input type="hidden" class="datafilm" value="<%= datafilm %>">
                    <input type="hidden" class="listnamefilm" value="<%= listnamefilm %>">
                    <script>
                        let myChart2 = document.getElementById('myChart2').getContext('2d');
                        // Global Options
                        Chart.defaults.global.defaultFontFamily = 'sans-serif';
                        Chart.defaults.global.defaultFontSize = 18;
                        Chart.defaults.global.defaultFontColor = '#777';
                        var datafilm = $('.datafilm').val()
                        var listnamefilm = $('.listnamefilm').val()
                        let massPopChart2 = new Chart(myChart2, {
                            type: 'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                            data: {
                                labels: listnamefilm.split(','),
                                datasets: [{
                                    label: 'Doanh thu',
                                    data: datafilm.split(','),
                                    backgroundColor: [
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)',
                                        'rgb(254 199 88)'
                                    ],
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'DOANH THU THEO PHIM',
                                    fontSize: 25
                                },
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontColor: '#000',
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        bottom: 0,
                                        top: 0
                                    }
                                },
                                tooltips: {
                                    enabled: true
                                },
                                
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/trigger.js"></script>
    <script src="../js/admin-snack.js"></script>
</body>

</html>