<%- include('../layouts/header') %>

<body>
    <%- include('../layouts/admin-sub-header') %>
    <script>
        function daysInMonth(month, year){
            return new Date(year,month,0).getDate();
        }
    </script>
    <div class="wrapper-index">
        <div class="ad-movie">
            <div class="wrap-headerAd">
                <div class="h5-detail">Thống kê doanh thu</div>
                <div class="tab-sat">                
                    <ul class="nav nav-tabs menu-stat sat-menu-tab">
                        <li class="nav-item sat-item">
                            <a class="nav-link active" href="#stat-day1" data-bs-toggle="tab" data-bs-target="#stat-day1" role="tab"
                                aria-controls="status" aria-selected="true">Báo cáo</a>
                        </li>
                        <li class="nav-item sat-item">
                            <a style="color: #eee;" class="nav-link" href="#stat-day2" data-bs-toggle="tab"
                                data-bs-target="#stat-day2" role="tab" aria-controls="status" aria-selected="true">Biểu đồ</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <div class="tab-content sat-content">
                <div class="tab-pane active" id="stat-day1" role="tabpanel">
                    <table class="table table-striped  table-bordered" style="font-size: 15px;">
                        <thead>
                            <tr>
                                <th scope="col">Ngày</th>
                                <th scope="col">SL vé đơn</th>
                                <th scope="col">SL vé couple</th>
                                <th scope="col">Doanh thu</th>
                                <th scope="col">Khuyến mãi</th>
                                <th scope="col">Thực thu</th>
                            </tr>
                        </thead>
                        <tbody id="datareport">
                            <% 
                                const reducer = (accumulator, curr) => accumulator + curr;
                            %>
                            <tr>
                                <th scope="row" >
                                    Tổng
                                </th>
                                <th style="width: 20%;">
                                    <%= tk1.reduce(reducer)%>
                                </th>
                                <th>
                                    <%= tk2.reduce(reducer)%>
                                </th>
                                <th>
                                    <%= datamonthfull.reduce(reducer).toLocaleString('de-DE')%> VNĐ
                                </th>
                                <th>
                                    <%= (datamonthfull.reduce(reducer)-datamonth.reduce(reducer)).toLocaleString('de-DE')%> VNĐ
                                </th>
                                <th>
                                    <%= datamonth.reduce(reducer).toLocaleString('de-DE')%> VNĐ
                                </th>
                            </tr>  
                            <% for(var i=0; i<days; i++) {%>
                                <% if(datamonthfull[i]!=0){ %>
                                    <tr>
                                        <td scope="row">
                                            <%=i+1%>/<%=month%>/<%=year%>
                                        </td>
                                        <td style="width: 20%;">
                                            <%= tk1[i] %>
                                        </td>
                                        <td>
                                            <%= tk2[i] %>
                                        </td>
                                        <td>
                                            <%=datamonthfull[i].toLocaleString('de-DE')%> VNĐ
                                        </td>
                                        <td>
                                            <%= (datamonthfull[i]-datamonth[i]).toLocaleString('de-DE')%> VNĐ
                                        </td>
                                        <td>
                                            <%=datamonth[i].toLocaleString('de-DE')%> VNĐ
                                        </td>
                                    </tr>  
                                <% } %>                                                              
                            <% } %>                 
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="stat-day2" role="tabpanel">
                    <div class="container">
                        <canvas id="myChart"></canvas>
                    </div>
                    <input type="hidden" class="datamonth" value="<%= datamonth %>">
                    <input type="hidden" class="month" value="<%= month %>">
                    <input type="hidden" class="year" value="<%= year %>">                    
                    <script>
                        let myChart = document.getElementById('myChart').getContext('2d');
                        // Global Options
                        Chart.defaults.global.defaultFontFamily = 'sans-serif';
                        Chart.defaults.global.defaultFontSize = 18;
                        Chart.defaults.global.defaultFontColor = '#777';
                        var datamonth = $('.datamonth').val()
                        var month = $('.month').val()
                        var year = $('.year').val()
                        var dsngay=[]
                        for(let day=1;day<=daysInMonth(month,year);day++){
                            dsngay.push(`${day}/${month}`);                                             
                        }
                        let massPopChart = new Chart(myChart, {
                            type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                            data: {
                                labels: dsngay,
                                datasets: [{
                                    label: 'Doanh thu',
                                    data: datamonth.split(','),
                                    backgroundColor: [
                                        'rgb(254 199 88)',
                                    ],
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'DOANH THU THÁNG '+month+'/'+year,
                                    fontSize: 25
                                },
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontColor: '#000'
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        bottom: 0,
                                        top: 0
                                    }
                                },
                                tooltips: {
                                    enabled: true
                                }
                            }
                        });
                    </script>
                </div>
                <form action="/admin/statistical/day" method="POST" style="text-align: center;margin-top: 30px;">
                    <input class="ipgetmonth" type="month" name="getmonth" value="<%= year%>-<% if(month<10){ %>0<% } %><%= month%>">
                    <button class="xemngay btn-see" type="button">Xem</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/trigger.js"></script>
    <script src="../js/admin-snack.js"></script>
    <script>            
        const reducer = (accumulator, curr) => accumulator + curr;    
        $(".xemngay").on('click', function(){
            var getmonth = $(".ipgetmonth").val()         
            $.ajax({
                url:"/admin/statistical/day",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({getmonth:getmonth}),
                success: function(result){
                    var data=`
                        <tr>
                            <th scope="row" >
                                Tổng
                            </th>
                            <th style="width: 20%;">
                                ${result.tk1.reduce(reducer)}
                            </th>
                            <th>
                                ${result.tk2.reduce(reducer)}
                            </th>
                            <th>
                                ${result.datamonthfull.reduce(reducer).toLocaleString('de-DE')} VNĐ
                            </th>
                            <th>
                                ${ (result.datamonthfull.reduce(reducer)-result.datamonth.reduce(reducer)).toLocaleString('de-DE')} VNĐ
                            </th>
                            <th>
                                ${ result.datamonth.reduce(reducer).toLocaleString('de-DE')} VNĐ
                            </th>
                        </tr>
                    `                    
                    for(var i=0; i<result.days; i++) {
                        if(result.datamonthfull[i]!=0){
                            data+=`
                            <tr>
                                <td scope="row">
                                    ${i+1}/${result.month}/${result.year}
                                </td>
                                <td style="width: 20%;">
                                    ${result.tk1[i]}
                                </td>
                                <td>
                                    ${result.tk2[i]}
                                </td>
                                <td>
                                    ${result.datamonthfull[i].toLocaleString('de-DE')} VNĐ
                                </td>
                                <td>
                                    ${ (result.datamonthfull[i]-result.datamonth[i]).toLocaleString('de-DE')} VNĐ
                                </td>
                                <td>
                                    ${result.datamonth[i].toLocaleString('de-DE')} VNĐ
                                </td>
                            </tr>`  
                        }                                                              
                    }   
                    $('#datareport').html(data)
                    let dsngaynew=[]
                    for(let day=1;day<=daysInMonth(result.month,result.year);day++){
                        dsngaynew.push(day+'/'+result.month);                                               
                    }
                   massPopChart.destroy()
                   massPopChart = new Chart(
                       myChart, {
                            type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                            data: {
                                labels: dsngaynew,
                                datasets: [{
                                    label: 'Doanh thu',
                                    data: result.datamonth,
                                    backgroundColor: [
                                    'rgb(254 199 88)',
                                    ],
                                }]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'DOANH THU THÁNG '+result.month+'/'+result.year,
                                    fontSize: 25
                                },
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontColor: '#000'
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        bottom: 0,
                                        top: 0
                                    }
                                },
                                tooltips: {
                                    enabled: true
                                }
                            }
                        }); 
                    }
            })
        })
    </script>
</body>

</html>