<!DOCTYPE html>
<html lang="en-vi">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Megas Cinema</title>
    <link rel="shortcut icon" type="../image/x-icon" href="../img/logo_favi.gif">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2fc7a8880.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/style-slide.css">
    <link rel="stylesheet" href="../css/style.css">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark index-nav-dark" id="navbar">
        <ul class="nav justify-content-end index-sign-nav">
            <li class="nav-item">
                <a class="nav-link index-sign" aria-current="page" href="#">Đăng nhập</a>
            </li>
            <span class="index-span-sign"></span>
            <li class="nav-item">
                <a class="nav-link index-sign" href="#">Đăng ký</a>
            </li>
        </ul>
        <div class="container-fluid">
            <a class="navbar-brand index-brand" href="/Index.html">
                <img class="index-img-logo" src="../img/logo.gif" alt="Megas Cinema">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll index-scroll"
                    style="--bs-scroll-height: 100px;">
                    <li class="nav-item drop index-dropdown">
                        <a class="nav-link admin-navbar">
                            Phim
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-navbar" href="#">Suất chiếu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-navbar" href="#">Ăn vặt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-navbar">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link admin-navbar">Thống kê</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="wrapper-index">
        <div class="ad-movie">
            <div class="h5-detail">Quản lý phim</div>
            <span class="line-detail"></span>
            <form action="">
                <table class="table table-striped  table-bordered" style="font-size: 15px;">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Tên phim</th>
                            <th scope="col">Đạo diễn</th>
                            <th scope="col">Khởi chiếu</th>
                            <th scope="col">Thể loại</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col" style="width: 1%;">
                                <div class="btn-admin">
                                    <button type="button" id="btnAddFilm" class="btn-common btn-buy" data-toggle="modal"
                                        data-target=".bd-example-modal-lg"><i class="fa fa-plus" aria-hidden="true"></i>
                                        Thêm mới</button>
                                    <form action="" method="">
                                        <div id="modalAddFilm" class="modal">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Thêm phim</h4>
                                                    <button type="button" class="close-footer close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body-plus">
                                                    <div class="modal-left">
                                                        <div class="col-5 img-add">
                                                            <img id="img-edit-item" class="imgAddPreview"
                                                                src="../img/no_img.webp" style="width: 100%;">
                                                            <input type="file" class="form-control imgChangeAdd"
                                                                name="image" id="img1"
                                                                accept="image/png, image/jpeg, image/jpg"
                                                                style="display: none;">
                                                            <label class="btn-common" id="btn-edit-img-item"
                                                                for="img1">Chọn ảnh</label>
                                                        </div>
                                                    </div>
                                                    <div class="modal-right">
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Tên phim</label>
                                                            <div class="input-ten">
                                                                <input class="input-sua" placeholder="Tên tiếng anh"
                                                                    type="text">
                                                                <input class="input-sua" placeholder="Tên tiếng việt"
                                                                    type="text">
                                                            </div>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Đạo diễn</label>
                                                            <input class="input-sua" type="text">
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Diễn viên</label>
                                                            <input class="input-sua" type="text">
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Khởi chiếu</label>
                                                            <input class="input-sua" type="date">
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Thời gian</label>
                                                            <input class="input-sua" type="number">
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Thể loại</label>
                                                            <select class="input-sua" name="idCat" id="">
                                                                <%cats.forEach(function(cat){%>
                                                                    <option value="<%=cat._id%>"><%=cat.title%></option>
                                                                <%})%>
                                                            </select>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Tình trạng</label>
                                                            <select class="input-sua" name="" id="">
                                                                <option value="1">Đang khởi chiếu</option>
                                                                <option value="2">Sắp khởi chiếu</option>
                                                                <option value="3">Đã chiếu xong</option>
                                                            </select>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Chi tiết</label>
                                                            <textarea class="input-sua-area" name="" id="" cols="20"
                                                                rows="10"></textarea>
                                                        </div>
                                                        <div class="ad-phim">
                                                            <label class="label-chitiet" for="">Trailer</label>
                                                            <input class="input-sua" type="url">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button"
                                                        class="btn btn-secondary close-footer">Đóng</button>
                                                    <button type="button" class="btn-common close-footer">Thêm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% films.forEach(function(film){ %>
                            <tr>
                                <th scope="row" style="width: 15%">
                                    <img style="width: 100%" src="<%=film.photo%>" alt="">
                                </th>                                
                                <td style="width: 20%;">
                                    <div><%=film.nameEN%></div>
                                    <div><%=film.nameVN%></div>
                                </td>
                                <td><%= film.directors %></td>
                                <td><%= film.premiere %></td>
                                <td><%= film.idCat %></td>
                                <td>
                                    Phim như bìu
                                </td>
                                <td>
                                    <div>Đang khởi chiếu</div>
                                </td>
                                <td>
                                    <div class="btn-mode">
                                        <button type="button" class="btnEditFilm" value="<%= film._id %>"><i class="fa fa-pencil-square-o"
                                            aria-hidden="true"></i></button>
                                        <button type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                        

                        <!-- form nút sửa -->
                        <form action="" method="">
                            <div id="modalEditFilm" class="modal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Chỉnh sửa thông tin phim</h4>
                                        <button type="button" class="close-footer close"
                                            data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body-plus">
                                        <div class="modal-left">
                                            <div class="col-5 img-add">
                                                <img id="img-edit-item" class="imgAddPreview" src="../img/no_img.webp"
                                                    style="width: 100%;">
                                                <input type="file" class="form-control imgChangeAdd" name="image"
                                                    id="img1" accept="image/png, image/jpeg, image/jpg"
                                                    style="display: none;">
                                                <label class="btn-common" id="btn-edit-img-item" for="img1">Chọn
                                                    ảnh</label>
                                            </div>
                                        </div>
                                        <div class="modal-right">
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Tên phim</label>
                                                <div class="input-ten">
                                                    <input class="input-sua nameen" placeholder="Tên tiếng anh" type="text">
                                                    <input class="input-sua namevn" placeholder="Tên tiếng việt" type="text">
                                                </div>
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Đạo diễn</label>
                                                <input class="input-sua directors" type="text">
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Diễn viên</label>
                                                <input class="input-sua cast" type="text">
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Khởi chiếu</label>
                                                <input class="input-sua premiere" type="date">
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Thời gian</label>
                                                <input class="input-sua time" type="number">
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Thể loại</label>
                                                <select class="input-sua" name="" id="">
                                                    <%cats.forEach(function(cat){%>
                                                        <option value="<%=cat._id%>"><%=cat.title%></option>
                                                    <%})%>
                                                </select>
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Tình trạng</label>
                                                <select class="input-sua" name="" id="">
                                                    <option value="1">Đang khởi chiếu</option>
                                                    <option value="2">Sắp khởi chiếu</option>
                                                    <option value="3">Đã chiếu xong</option>
                                                </select>
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Chi tiết</label>
                                                <textarea class="input-sua-area detail" name="" id="" cols="20"
                                                    rows="10"></textarea>
                                            </div>
                                            <div class="ad-phim">
                                                <label class="label-chitiet" for="">Trailer</label>
                                                <input class="input-sua trailer" type="url">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary close-footer">Đóng</button>
                                        <button type="button" class="btn-common close-footer">Thêm</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </tbody>
                </table>

            </form>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/trigger.js"></script>
    <script src="../js/modal.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>

</html>