<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %> 

    <div class="container bill-container">
    <form method="post" action="/payment">        
        <div class="bill">
            <div class="bill-section">
                <h2>Thông tin đặt hàng</h2>
                <div class="bill-text check-text">
                    <div class="name-bill">Tên khách hàng: </div>
                   <input class="check-input" type="text" value="<%= user.fullname %>" name="fullname">
                </div>
                <div class="bill-text check-text">
                    <div class="name-bill">Số điện thoại: </div>
                    <input class="check-input" type="text" value="<%= user.phone %>" name="phone">
                </div>
                <div class="bill-text check-text">
                    <div class="name-bill">Email: </div>
                    <input class="check-input" type="email" value="<%= user.email %>" disabled>
                </div>
                <div class="showtime-bill check-showtime">                    
                    <div class="bill-text" style="display: flex;">
                        <div class="name-bill">Tên phim: </div>
                        <div>
                            <div><%= film.nameEN%></div>
                            <div><%= film.nameVN%></div>
                        </div>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Suất chiếu </div>
                        <div class="date-film">
                            <span><%= st.date%></span>
                            <i class="fa-solid fa-film"></i>
                            <span><%= st.timeStart%></span>
                        </div>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Rạp: </div>
                        <span><%= room.name%></span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Ghế: </div>
                        <span>
                            <%= tk[0].name%><%if (tk.length>1){%><% for(var i=1; i<tk.length; i++) {%>, <%= tk[i].name%><% } %>
                            <%}%>
                        </span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Combo: </div> 
                        <div style="flex: 5;">
                            <% var snacksarr=[] %>
                            <% snack.forEach( function(sn){ %>
                                <%
                                    snacksarr.push(sn.quantity+" x "+sn.name)
                                %>
                            <% }); %>
                            <span class="snack-name"><%= snacksarr.join(', ') %></span>
                        </div>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Tổng tiền: </div> 
                        <span><%= total.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></span>
                    </div>
                    <div class="note-bill-check">*Vui lòng kiểm tra lại thông tin đặt hàng của quý khách</div>
                </div>
                <div class="payment">
                    <div class="bill-text check-text">
                        <div class="name-bill" style="width: 185px;">Mã khuyến mãi: </div>
                        <input class="check-input" type="text" style="width: 202px;">
                    </div>
                    <div class="bill-text check-text">
                        <div style="display: inline-block; margin-right: 20px;">Phương thức thanh toán </div>
                        <select class="select-pay" name="payment">
                            <option value="1">Thanh toán bằng Momo</option>
                        </select>
                    </div>
                    <div class="btn-order-section" style="padding-top: 0px;">
                        <a href="detail-combo.html" style="color: #333;">
                            <button type="button" class="btn btn-buy btn-back">
                                Trở lại
                            </button>
                        </a>
                        <button type="submit" class="btn btn-buy btn-order">
                            Đặt vé
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <% tk.forEach( function(ticket){ %>
            <input type="hidden" name="ticket" value="<%=ticket._id%>"/>
        <% }); %>
        <% snack.forEach( function(sn){ %>
            <input type="hidden" name="<%=sn.id%>" value="<%=sn.quantity%>"/>
        <% }); %>
    </form>
    </div>



</body>