<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %> 

    <div class="container bill-container">
    <form method="post" action="/payment">        
        <div class="bill-check">
            <div class="bill-section">
                <h2 class="h2-success">Thông tin đặt hàng</h2>
                <div class="bill-text check-text">
                    <div class="name-bill">Tên khách hàng: </div>
                   <input class="check-input" type="text" value="<%= user.fullname %>" name="fullname">
                   <span class="span-error-add"></span>
                </div>
                <div class="bill-text check-text">
                    <div class="name-bill">Số điện thoại: </div>
                    <input class="check-input" type="text" value="<%= user.phone %>" name="phone">
                    <span class="span-error-add"></span>
                </div>
                <div class="bill-text check-text">
                    <div class="name-bill">Email: </div>
                    <input class="check-input" type="email" value="<%= user.email %>" disabled>
                </div>
                <div class="showtime-bill check-showtime">                    
                    <div class="bill-text" style="display: flex;">
                        <div class="name-bill">Tên phim: </div>
                        <div>
                            <div><%= film.nameEN%></div>
                            <div><%= film.nameVN%></div>
                        </div>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Suất chiếu </div>
                        <div class="date-film">
                            <span><%= st.date%></span>
                            <i class="fa-solid fa-film"></i>
                            <span><%= st.timeStart%></span>
                        </div>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Rạp: </div>
                        <span><%= room.name%></span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Ghế: </div>
                        <span>
                            <%= tk[0].name%><%if (tk.length>1){%><% for(var i=1; i<tk.length; i++) {%>, <%= tk[i].name%><% } %>
                            <%}%>
                        </span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Combo: </div> 
                        <div style="flex: 5;">
                            <% var snacksarr=[] %>
                            <% snack.forEach( function(sn){ %>
                                <%
                                    snacksarr.push(sn.quantity+" x "+sn.name)
                                %>
                            <% }); %>
                            <span class="snack-name"><%= snacksarr.join(', ') %></span>
                        </div>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Tổng: </div> 
                        <span class="totalbill"><%= (totalticket+totalsn).toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Khuyến mãi: </div> 
                        <span class="dc"><%=(0).toLocaleString('vi', {style : 'currency', currency : 'VND'})%></span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill" style="font-size:20px"><b>Tổng tiền: </b></div> 
                        <span class="total" style="font-size:20px; font-weight: 600;"><%= (totalticket+totalsn).toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></span>
                    </div>
                    <div class="note-bill-check">*Vui lòng kiểm tra lại thông tin đặt hàng của quý khách</div>
                </div>
                <div class="payment">
                    <div class="bill-text check-text">
                        <div class="name-bill" style="width: 185px;">Mã khuyến mãi: </div>
                        <input class="check-input code" type="text" style="width: 120px;" name="code">
                        <span class="alertcode"></span>                      
                    </div>
                    <div class="bill-text check-text">
                        <div style="display: inline-block; margin-right: 20px;">Phương thức thanh toán </div>
                        <%if (user.actor=='staff'){%>
                            <select class="select-pay" name="payment">
                                <option value="1">Thanh toán trực tiếp</option>
                            </select>
                        <%} else{%>
                            <select class="select-pay" name="payment">
                                <option value="1">Thanh toán bằng Momo</option>
                            </select>
                        <%}%>                     
                        
                    </div>
                    <div class="btn-order-section" style="padding-top: 0px;">                        
                        <button type="button" class="btn btn-buy btn-back" onclick="history.back()">
                            Trở lại
                        </button>                        
                        <button type="submit" class="btn btn-buy btn-order">
                            Đặt vé
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" value="<%=totalticket%>" class="totalticket"/>
        <input type="hidden" value="<%=totalsn%>" class="totalsn"/>
        <input type="hidden" class="url" name="url" />
        <% tk.forEach( function(ticket){ %>
            <input type="hidden" name="ticket" value="<%=ticket._id%>"/>
        <% }); %>
        <% snack.forEach( function(sn){ %>
            <input type="hidden" name="<%=sn.id%>" value="<%=sn.quantity%>"/>
        <% }); %>
    </form>
    </div>
<script>
    $('.url').val(window.location.protocol+"//"+window.location.host)
    $('.code').on('input',function(){
        var code=$(this).val();
        if (code!=''){
            $.ajax({
                url: "/order/uservoucher",
                method: "GET",
                contentType: "application/json",
                data: {code:code},
                success: function (result) {
                    if(result.match){
                        $('.alertcode').html('Đã áp dụng mã.');
                        var totalticket=$('.totalticket').val()*(100-result.value)/100
                        $('.total').html((totalticket+parseInt($('.totalsn').val())).toLocaleString('vi', {style : 'currency', currency : 'VND'}))
                        $('.dc').html((parseInt($('.totalticket').val()*(result.value)/100)).toLocaleString('vi', {style : 'currency', currency : 'VND'}))
                    }else{
                        $('.alertcode').html('Mã không hợp lệ hoặc đã sử dụng.');
                        $('.dc').html((0).toLocaleString('vi', {style : 'currency', currency : 'VND'}))
                        $('.total').html((parseInt($('.totalticket').val())+parseInt($('.totalsn').val())).toLocaleString('vi', {style : 'currency', currency : 'VND'}))
                    }                                    
                }
            })
        } else {
            $('.alertcode').html('');
            $('.total').html((parseInt($('.totalticket').val())+parseInt($('.totalsn').val())).toLocaleString('vi', {style : 'currency', currency : 'VND'}))
        }
    })    
</script>
<script src="/js/validate-thitran.js"></script>
<script>
    isRequired($("[name='fullname']"), 'add');
    isRequired($("[name='phone']"), 'add');
    isPhone($("[name='phone']"),'add');
    $('.btn-order').click(function (e) {             
        var check = true;
        checkform([$("[name='fullname']"), $("[name='phone']")], 'add', 'Vui lòng nhập trường này');
        $('.span-error-add').each(function () {
            if ($(this).text() != '') { check = false; return false; }
        })             
        if (!check) {
            e.preventDefault();            
        }
    })
</script>

</body>
<%- include ('../layouts/chat') %>