<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %> 

    <div class="container bill-container">
        <div class="bill">
            <div class="bill-section">
                <h2>Đặt hàng thành công</h2>
                <div class="bill-text">
                    <div class="name-bill">Tên khách hàng: </div>
                    <span><%= bill.fullname %></span>
                </div>
                <div class="bill-text">
                    <div class="name-bill">Số điện thoại: </div>
                    <span><%= bill.phone %></span>
                </div>
                <div class="bill-text">
                    <div class="name-bill">Email: </div>
                    <span><%= bill.user %></span>
                </div>
                <div class="showtime-bill">
                    <div class="bill-text" style="display: flex;">
                        <div class="name-bill">Tên phim: </div>
                        <div>
                            <div><%= film.nameEN %></div>
                            <div><%= film.nameVN %></div>
                        </div>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Suất chiếu </div>
                        <span><%= st.date %> <%= st.timeStart %></span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Rạp: </div>
                        <span><%= room.name %></span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Ghế: </div>                        
                        <span>                            
                            <% bill.ticket.forEach(function(tk) { %>
                                <%= tk.name %>
                            <% }); %>                            
                        </span>
                    </div>
                    <div class="bill-text">
                        <div class="name-bill">Combo: </div> 
                        <span>
                            <% bill.snack.forEach( function(sn){ %>
                                <span><%= sn.quantity %> x <%= sn.name %></span>
                            <% }); %>
                        </span>
                    </div>
                </div>
                <div class="note-bill">*Vui lòng đến rạp trước 15 phút để làm thủ tục soát vé</div>

            </div>
            <div class="bill-code">
                <div qrvalue="" id="qrcode"></div>
            </div>
        </div>
    </div>

    <script src="/js/qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
    <script>
        var value = $('#qrcode').attr('qrvalue');
        var qrcode = new QRCode(document.getElementById('qrcode'), {
            text: value,
            width: 150,
            height: 150,
            colorDark: '#000000',
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>

</body>