<%- include ('./layouts/header') %>

    <body>
        
        <%- include ('./layouts/sub-header') %>

        <div class="poster-index">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <a href="#"><img class="poster-slide" src="/img/sukien1.jpg" alt="Owl Image"></a>
                <a href="#"><img class="poster-slide" src="/img/sukien2.jpg" alt="Owl Image"></a>
                <a href="#"><img class="poster-slide" src="/img/sukien3.jpg" alt="Owl Image"></a>
            </div>
        </div>

        <div class="zalo-chat-widget" data-oaid="2023301482249874214"
            data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="" data-height=""></div>

        <script src="https://sp.zalo.me/plugins/sdk.js"></script>

        <div">
            <div class="container" style="padding-top: 70px;">
                <ul class="nav nav-tabs tab-phim" id="myTab" role="tablist">
                    <li class="nav-item " role="presentation">
                        <button class="nav-link tab-movie tab-show active" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                            PHIM ĐANG CHIẾU
                        </button>
                    </li>
                    <li class="nav-item " role="presentation">
                        <button class="nav-link tab-movie tab-show" id="profile-tab" data-bs-toggle="tab"
                            data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                            aria-selected="false">
                            PHIM SẮP CHIẾU
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="time-section">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <div class="owl-time owl-carousel owl-theme slide-time">
                                    <%dayArrs.forEach(function(dayArr){%>
                                        <%var date=(dayArr.getDate()<10)?('0'+dayArr.getDate()):(dayArr.getDate())%>
                                        <%  var month=((dayArr.getMonth()+1)<10)?('0'+(dayArr.getMonth()+1)):(dayArr.getMonth()+1) %>
                                        <%  var day=dayArr.getDay() %>
                                        <%  var time = dayArr.getTime() %>
                                        <div class="item btn btn-outline-dark btn-time-index"
                                            onclick="openCity(event, 'monday')" day="<%=time%>" >
                                        <%switch (day) { case 0:%>
                                        <div>SUNDAY</div>
                                        <%break;case 1:%>
                                        <div>MONDAY</div>
                                        <%break;case 2:%>
                                        <div>TUESDAY</div>
                                        <%break;case 3:%>
                                        <div>WEDNESDAY</div>
                                        <%break;case 4:%>
                                        <div>THURSDAY</div>
                                        <%break;case 5:%>
                                        <div>FRIDAY</div>
                                        <%break;case 6:%>
                                        <div>SATURDAY</div>
                                        <%break;default: }%>
                                    
                                        
                                        <span><%=date%>/<%=month%></span>
                                    </div>
                                    <%})%>
                                </div>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-list" id="monday">
                                    <div class="movie-section">
                                        <div class="poster-movie-div">
                                            <div class="flex-title">
                                                <div class="star-rating">
                                                    <form action="">
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>
                                                    </form>
                                                </div>
                                                <a href="#">
                                                    <div class="flex-cs">
                                                        <div class="english-title">
                                                            <div class="h6-poster">
                                                                ETERNAL
                                                            </div>
                                                            <div class="cs">
                                                                <img class="img-cs" src="/img/cs13.png">
                                                            </div>
                                                        </div>
                                                        <div class="side-poster">
                                                            CHỦNG TỘC BẤT TỬ
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="flex-time">
                                                <a href="#"><img class="poster-movie" src="/img/P1.jpg"></a>
                                                <div class="flex-time-detail">
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            09:30 AM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="poster-movie-div">
                                            <div class="flex-title">
                                                <a href="#">
                                                    <div class="flex-cs">
                                                        <div class="english-title">
                                                            <div class="h6-poster">
                                                                ETERNAL
                                                            </div>
                                                            <div class="cs">
                                                                <img class="img-cs" src="/img/cs13.png">
                                                            </div>
                                                        </div>
                                                        <div class="side-poster">
                                                            CHỦNG TỘC BẤT TỬ
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="flex-time">
                                                <a href="#"><img class="poster-movie" src="/img/P1.jpg"></a>
                                                <div class="flex-time-detail">
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            09:30 AM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                    <div class="time-btn">
                                                        <a class="btn-overtime btn btn-outline-warning btn-time">
                                                            13:45 PM
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-list" id="tuesday">b</div>
                                <div class="tab-list" id="wednesday">c</div>
                                <div class="tab-list" id="thursday">d</div>
                                <div class="tab-list" id="friday">e</div>
                                <div class="tab-list" id="saturday">f</div>
                                <div class="tab-list" id="sunday">g</div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container">
                            <div class="row row-coming">
                                <div class="coming-side">
                                    <div class="coming-movie">
                                        <a class="a-coming" href="#">
                                            <div class="flex-img">
                                                <img class="poster-movie" src="/img/P1.jpg">
                                            </div>
                                            <div class="star-rating">
                                                <form action="">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </form>
                                            </div>
                                            <div class="flex-cs">
                                                <div class="english-title">
                                                    <div class="h6-poster">
                                                        ETERNAL
                                                    </div>
                                                    <div class="cs">
                                                        <img class="img-cs" src="/img/cs13.png">
                                                    </div>
                                                </div>
                                                <div class="side-poster">
                                                    CHỦNG TỘC BẤT TỬ
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="coming-movie">
                                        <a href="#">
                                            <div class="flex-img">
                                                <img class="poster-movie" src="/img/P1.jpg">
                                            </div>
                                            <div class="flex-cs">
                                                <div class="english-title">
                                                    <div class="h6-poster">
                                                        ETERNAL
                                                    </div>
                                                    <div class="cs">
                                                        <img class="img-cs" src="/img/cs13.png">
                                                    </div>
                                                </div>
                                                <div class="side-poster">
                                                    CHỦNG TỘC BẤT TỬ
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="coming-movie">
                                        <a href="#">
                                            <div class="flex-img">
                                                <img class="poster-movie" src="/img/P1.jpg">
                                            </div>
                                            <div class="flex-cs">
                                                <div class="english-title">
                                                    <div class="h6-poster">
                                                        ETERNAL
                                                    </div>
                                                    <div class="cs">
                                                        <img class="img-cs" src="/img/cs13.png">
                                                    </div>
                                                </div>
                                                <div class="side-poster">
                                                    CHỦNG TỘC BẤT TỬ
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="coming-movie">
                                        <a href="#">
                                            <div class="flex-img">
                                                <img class="poster-movie" src="/img/P1.jpg">
                                            </div>
                                            <div class="flex-cs">
                                                <div class="english-title">
                                                    <div class="h6-poster">
                                                        ETERNAL
                                                    </div>
                                                    <div class="cs">
                                                        <img class="img-cs" src="/img/cs13.png">
                                                    </div>
                                                </div>
                                                <div class="side-poster">
                                                    CHỦNG TỘC BẤT TỬ
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            </div>
            <div class="event-section">
                <div class="container">
                    <h1 class="title-event">SỰ KIỆN</h1>
                    <div class="featured-carousel owl-carousel owl-time">

                        <div class="item">
                            <div class="work">
                                <a href="#">
                                    <div class="img d-flex align-items-end justify-content-center index-img-slide"
                                        style="background-image: url(img/sukien1.jpg);">

                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center index-img-slide"
                                    style="background-image: url(img/sukien2.jpg);">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center index-img-slide"
                                    style="background-image: url(img/sukien3.jpg);">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center index-img-slide"
                                    style="background-image: url(img/sukien1.jpg);">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="work">
                                <div class="img d-flex align-items-end justify-content-center index-img-slide"
                                    style="background-image: url(img/sukien2.jpg);">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
    <%- include ('./layouts/footer') %>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('nav').addClass('sticky');
                } else {
                    $('nav').removeClass('sticky');
                }
            });
        });
    </script>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- <script src="js/owl.carousel.js"></script> 
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css"> -->



    <script>
        $('.owl-time').owlCarousel({
            loop: false,
            margin: 10,
            nav: false,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                300: {
                    items: 2
                },
                500: {
                    items: 3
                },
                800: {
                    items: 4
                },
                1000: {
                    items: 5
                },
                1200: {
                    items: 7
                }
            }
        })
    </script>

    <script>
        var activeitem = document.getElementsByClassName("btn-outline-dark");
        activeitem[0].classList.add("active");
        var contentitem = document.getElementById(activeitem[0].children[0].innerHTML.toLowerCase())
        contentitem.classList.add("active");
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-list");
        //     for (i = 0; i < tabcontent.length; i++) {
        //         tabcontent[i].style.display = "none";
        //     }
            tablinks = document.getElementsByClassName("btn-time-index");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
        //     document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    <script>
        $("#owl-demo").owlCarousel({
            animateOut: 'fadeOut',
            dots: true,
            loop: true,
            autoplay: true,
            autoplayTimeout: 4000,
            items: 1,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3]

        });

    </script>




    </html>