<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>

    <% function convertDate(date){%>
        <% var newDate= new Date(date);%>
        <%    return newDate.toLocaleDateString('en-GB');%>
        <%} %>

    <section class="container userInfo-background">
        <div class="container-fluid">
            <div class="row clearfix">
                <%- include('../layouts/info-header') %>
                <div class="col-8">
                    <div class="userInfo-col">
                        <div class="User-title">
                            <h5><i class="fa fa-address-card-o" aria-hidden="true"></i> HỒ SƠ CỦA BẠN</h5>
                            <div>Quản lý thông tin hồ sơ để bảo mật tài khoản</div>
                        </div>
                            <form action="" method="get" class="userInfo-details">
                                <div class="userInfo-left">
                                    <div class="info-element">
                                        <label style="width: 120px;">Họ tên:</label>
                                        <span><%=us.fullname%></span>
                                    </div>
                                    <div class="info-element">
                                        <label style="width: 120px;">Gmail:</label>
                                        <span><%=us.email%></span>
                                    </div>
                                    <div class="info-element">
                                        <label style="width: 120px;">Số điện thoại:</label>
                                        <span><%=us.phone%></span>
                                    </div>
                                    <div class="info-element">
                                        <label style="width: 120px;">Giới tính:</label>
                                        <span><% if (us.gender=="male") {%>Nam<%} else {%>Nữ<%}%> </span>
                                    </div>
                                    <div class="info-element">
                                        <label style="width: 120px;">Ngày sinh:</label>
                                        <span><%= convertDate(us.birthday)%></span>
                                    </div>
                                </div>
                                <div class="userInfo-right">
                                        <%if (us.photo!=""){%>
                                        <img src="<%=us.photo%>" class="user-img user-img-preview" alt="Your avatar">
                                        <%} else {%>
                                        <img src="../img/no_img.webp" class="user-img user-img-preview" alt="Your avatar">
                                        <%}%> 

                                </div>
                            </form>

                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

<%- include ('../layouts/footer') %>

</html>