<%- include ('../layouts/header') %>
<body>
    <div class="body-loading">
        <div class="wrapper">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <div class="shadow"></div>
            <span>Loading</span>
        </div>
    </div>
    <%- include ('../layouts/sub-header') %>
    <section class="container userInfo-background">
        <div class="container-fluid">
            <div class="row clearfix">
                <%- include('../layouts/info-header') %>                
                <div class="col-8">
                    <div class="userInfo-col">
                        <div class="User-title">
                            <h5><i class="fa fa-address-card-o" aria-hidden="true"></i> QUẢN LÝ VÉ ĐẶT</h5>
                            <div>Quản lý lịch sử đặt vé của bạn.</div>
                        </div>
                        <div class="">
                            <ul style="margin: 10px 20px" class="nav nav-tabs menu-status">
                                <li class="nav-item">
                                    <a class="nav-link link1 active optionEdit" href="#option1" data-bs-toggle="tab"
                                        data-bs-target="#option1" role="tab" aria-controls="status"
                                        aria-selected="true">Đã đặt</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color: #eee;" class="nav-link link1 optionEdit" href="#option2"
                                        data-bs-toggle="tab" data-bs-target="#option2" role="tab" aria-controls="status"
                                        aria-selected="true">Đã sử dụng</a>
                                </li>
                            </ul>

                            <form action="" class="form-search">
                                <div class="search-user" >
                                    <input type="text" id="myInput" class="form-control input-idticket" placeholder="Tìm kiếm" name="name">
                                    <button class="btn btn-buy btnSearchTime btn-search-ticket" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </form>

                            <div class="tab-content">
                                <div class="tab-pane active" id="option1" role="tabpanel">
                                    <form action="" method="get">
                                        <div class="order-common">
                                            <div class="purchase-order" id="billun"> 
                                            <%if (billunuse.length!=0){%>     
                                                <%billunuse.forEach(function(bill){%> 
                                                    <div class="purchase-film">
                                                        <a class="ticket" data-bs-toggle="collapse" href="#collapseExample<%=bill._id%>" 
                                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        
                                                            <div class="row-detail-main">
                                                                <div>
                                                                    <img class="img-order-list" src="<%= bill.photo%>">
                                                                </div>
                                                                <div class="row-detail-sub">
                                                                    <div class="name-ticket">
                                                                        <div class="up-side">
                                                                            <div class="name-side">
                                                                                <div class="name-EN"><%= bill.film%></div>
                                                                                <div class="name-order-list"><%= bill.subname%></div>
                                                                            </div>
                                                                            <button type="button" class="btn-common btn-qr" value="<%=bill._id%>">Mã QR</button>
                                                                        </div>
                                                                        <div class="time-order">
                                                                            <% var date = new Date(bill.timebooking) %>
                                                                            <span>Đã đặt lúc <%= date.toTimeString().split(' ')[0]+" "+bill.timebooking.toJSON().slice(0,10).split('-').reverse().join('/')%> </span>
                                                                            <div class="price-order-list">
                                                                                <div style="margin: -10px;"><b>Tổng tiền:</b> <%= bill.total%> VNĐ</div>
                                                                                <i style="font-size: 13px;">Khuyến mãi: 45.0000 VND</i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                        </a>
                                                        <div class="collapse row-collapse" id="collapseExample<%=bill._id%>">
                                                            <div class="card detail-purchase">
                                                                <div class="row-detail">
                                                                    <div>Suất chiếu:</div>
                                                                    <div><%=bill.date.split("-").reverse().join("/");%> <span style="margin-left: 10px;"><i style="margin-right: 5px;" class="fa-solid fa-film"></i><%=bill.timeStart%></span></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Rạp:</div>
                                                                    <div><%= bill.room%></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Số ghế:</div>
                                                                    <% var ticket=[] %>
                                                                    <% var totalticket=0 %>
                                                                    <% bill.ticket.forEach( function(tk){ %>
                                                                        <%
                                                                            ticket.push(tk.name)
                                                                            totalticket+=tk.price
                                                                        %>
                                                                    <% }); %>
                                                                    <div>
                                                                        <%= ticket.join(', ') %>
                                                                    </div>                                                                    
                                                                    <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalticket%> VNĐ</div>
                                                                </div>
                                                                <% var snacksarr=[] %>
                                                                <% var totalsn=0 %>
                                                                <% bill.snack.forEach( function(sn){ %>
                                                                    <%
                                                                        snacksarr.push(sn.name+" (x"+sn.quantity+")")
                                                                        totalsn+=sn.price
                                                                    %>
                                                                <% }); %>
                                                                <% if(snacksarr.length!=0){ %>
                                                                    <div class="row-detail">
                                                                        <div>COMBO:</div>                                                                    
                                                                        <div><%= snacksarr.join(', ') %></div>                                                                    
                                                                        <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalsn%> VNĐ</div>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <%})%>
                                            <%} else {%>
                                                <div class="no-show" style="zoom: 70%;margin-top: 20px;">
                                                    <h1>Không có lịch sử vé phù hợp yêu cầu</h1>
                                                    <img src="/img/movie.gif" alt="">
                                                </div>
                                            <%}%>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="option2" role="tabpanel">
                                    <form action="" method="get">
                                        <div class="order-common">
                                            <div class="purchase-order" id="billuse">
                                            <%if (billunuse.length!=0){%>
                                                <%billused.forEach(function(bill){%> 
                                                    <div class="purchase-film">
                                                        <a class="ticket" data-bs-toggle="collapse" href="#collapseExample<%=bill._id%>" 
                                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        
                                                            <div class="row-detail-main">
                                                                <div>
                                                                    <img class="img-order-list" src="<%= bill.photo%>">
                                                                </div>
                                                                <div class="row-detail-sub">
                                                                    <div class="name-ticket">
                                                                        <div class="up-side">
                                                                            <div class="name-side">
                                                                                <div class="name-EN"><%= bill.film%></div>
                                                                                <div class="name-order-list"><%= bill.subname%></div>
                                                                            </div>
                                                                            <span class="ticket-used">
                                                                                <% if(bill.check=="0"){ %>
                                                                                    Đã hết hạn
                                                                                <% } else{ %>  
                                                                                    Đã sử dụng
                                                                                <% } %>
                                                                            </span>
                                                                        </div>
                                                                        <div class="time-order">
                                                                            <% var date = new Date(bill.timebooking) %>
                                                                            <span>Đã đặt lúc <%= date.toTimeString().split(' ')[0]+" "+bill.timebooking.toJSON().slice(0,10).split('-').reverse().join('/')%> </span>
                                                                            <div class="price-order-list">
                                                                                <div style="margin: -10px;"><b>Tổng tiền:</b> <%= bill.total%> VNĐ</div>
                                                                                <i style="font-size: 13px;">Khuyến mãi: 45.0000 VND</i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                        </a>
                                                        <div class="collapse row-collapse" id="collapseExample<%=bill._id%>">
                                                            <div class="card detail-purchase">
                                                                <div class="row-detail">
                                                                    <div>Suất chiếu:</div>
                                                                    <div><%=bill.date.split("-").reverse().join("/");%> <span style="margin-left: 10px;"><i style="margin-right: 5px;" class="fa-solid fa-film"></i><%=bill.timeStart%></span></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Rạp:</div>
                                                                    <div><%= bill.room%></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Số ghế:</div>
                                                                    <% var ticket=[] %>
                                                                    <% var totalticket=0 %>
                                                                    <% bill.ticket.forEach( function(tk){ %>
                                                                        <%
                                                                            ticket.push(tk.name)
                                                                            totalticket+=tk.price
                                                                        %>
                                                                    <% }); %>
                                                                    <div>
                                                                        <%= ticket.join(', ') %>
                                                                    </div>                                                                    
                                                                    <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalticket%> VNĐ</div>
                                                                </div>
                                                                <% var snacksarr=[] %>
                                                                    <% var totalsn=0 %>
                                                                    <% bill.snack.forEach( function(sn){ %>
                                                                        <%
                                                                            snacksarr.push(sn.name+" (x"+sn.quantity+")")
                                                                            totalsn+=sn.price
                                                                        %>
                                                                    <% }); %>
                                                                <% if(snacksarr.length!=0){ %>
                                                                    <div class="row-detail">
                                                                        <div>COMBO:</div>                                                                    
                                                                        <div><%= snacksarr.join(', ') %></div>                                                                    
                                                                        <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalsn%> VNĐ</div>
                                                                    </div>
                                                                <% } %> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                <%})%>
                                            <%} else {%>
                                                <div class="no-show" style="zoom: 70%;margin-top: 20px;">
                                                    <h1>Không có lịch sử vé phù hợp yêu cầu</h1>
                                                    <img src="/img/movie.gif" alt="">
                                                </div>
                                            <%}%>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
<%- include ('../layouts/footer') %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(".btn-qr").click(function (e) {
        var idbill = $(this).val()
        $('.body-loading').css('display','block');          
        $.ajax({
                url: "/user/sendqr",
                method: "GET",
                contentType: "application/json",
                data: {idbill:idbill},
                success: function (result) {
                    $('.body-loading').css('display','none');                    
                    if(result.status){
                        Swal.fire({
                            icon: 'success',
                            title: result.msg
                        })
                    }else{
                        Swal.fire({
                            icon: 'warning',
                            title: result.msg
                        })
                    }        
                }
            }) 
    })
</script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#billun").find("> div").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        $("#billuse").find("> div").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
</html>