<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>
    <section class="container userInfo-background">
        <div class="container-fluid">
            <div class="row clearfix">
                <%- include('../layouts/info-header') %>                
                <div class="col-8">
                    <div class="userInfo-col">
                        <div class="User-title">
                            <h5><i class="fa fa-address-card-o" aria-hidden="true"></i> QUẢN LÝ VÉ ĐẶT</h5>
                            <div>Quản lý lịch sử đặt vé của bạn.</div>
                        </div>
                        <div class="">
                            <ul style="margin: 10px 20px" class="nav nav-tabs menu-status">
                                <li class="nav-item">
                                    <a class="nav-link link1 active optionEdit" href="#option1" data-bs-toggle="tab"
                                        data-bs-target="#option1" role="tab" aria-controls="status"
                                        aria-selected="true">Đã đặt</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color: #eee;" class="nav-link link1 optionEdit" href="#option2"
                                        data-bs-toggle="tab" data-bs-target="#option2" role="tab" aria-controls="status"
                                        aria-selected="true">Đã sử dụng</a>
                                </li>
                            </ul>

                            <form action="" class="form-search">
                                <div class="search-user" >
                                    <input type="text" class="form-control input-idticket" placeholder="Tìm kiếm theo mã vé..." name="name">
                                    <button class="btn btn-buy btnSearchTime btn-search-ticket" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>

                            <div class="tab-content">
                                <div class="tab-pane active" id="option1" role="tabpanel">
                                    <form action="" method="get">
                                        <div class="order-common">
                                            <div class="purchase-order">      
                                                <%billunuse.forEach(function(bill){%> 
                                                    <div class="purchase-film">
                                                        <a class="ticket" data-bs-toggle="collapse" href="#collapseExample<%=bill._id%>" 
                                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        
                                                            <div class="row-detail-main">
                                                                <div>
                                                                    <img class="img-order-list" src="<%= bill.photo%>">
                                                                </div>
                                                                <div class="row-detail-sub">
                                                                    <div class="name-ticket">
                                                                        <div class="up-side">
                                                                            <div class="name-side">
                                                                                <div class="name-EN"><%= bill.film%></div>
                                                                                <div class="name-order-list"><%= bill.film%></div>
                                                                            </div>
                                                                            <button type="button" class="btn-common btn-qr">Mã QR</button>
                                                                        </div>
                                                                        <div class="time-order">
                                                                            <span>Đã đặt lúc 12:00 02/02/2021 </span>
                                                                            <div class="price-order-list"><b>Tổng tiền:</b> <%= bill.total%> VNĐ</div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                        </a>
                                                        <div class="collapse row-collapse" id="collapseExample<%=bill._id%>">
                                                            <div class="card detail-purchase">
                                                                <div class="row-detail">
                                                                    <div>Suất chiếu:</div>
                                                                    <div>22/04/2022 <span style="margin-left: 10px;"><i style="margin-right: 5px;" class="fa-solid fa-film"></i>09:45 AM</span></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Rạp:</div>
                                                                    <div><%= bill.room%></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Số ghế:</div>
                                                                    <% var ticket=[] %>
                                                                    <% var totalticket=0 %>
                                                                    <% bill.ticket.forEach( function(tk){ %>
                                                                        <%
                                                                            ticket.push(tk.name)
                                                                            totalticket+=tk.price
                                                                        %>
                                                                    <% }); %>
                                                                    <div>
                                                                        <%= ticket.join(', ') %>
                                                                    </div>                                                                    
                                                                    <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalticket%> VNĐ</div>
                                                                </div>
                                                                
                                                                <div class="row-detail">
                                                                    <div>COMBO:</div>
                                                                    <% var snacksarr=[] %>
                                                                    <% var totalsn=0 %>
                                                                    <% bill.snack.forEach( function(sn){ %>
                                                                        <%
                                                                            snacksarr.push(sn.name+" (x"+sn.quantity+")")
                                                                            totalsn+=sn.price
                                                                        %>
                                                                    <% }); %>
                                                                    <div><%= snacksarr.join(', ') %></div>                                                                    
                                                                    <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalsn%> VNĐ</div>
                                                                </div>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                <%})%>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="option2" role="tabpanel">
                                    <form action="" method="get">
                                        <div class="order-common">
                                            <div class="purchase-order">
                                                <%billused.forEach(function(bill){%> 
                                                    <div class="purchase-film">
                                                        <a class="ticket" data-bs-toggle="collapse" href="#collapseExample<%=bill._id%>" 
                                                        role="button" aria-expanded="false" aria-controls="collapseExample">
                                                        
                                                            <div class="row-detail-main">
                                                                <div>
                                                                    <img class="img-order-list" src="<%= bill.photo%>">
                                                                </div>
                                                                <div class="row-detail-sub">
                                                                    <div class="name-ticket">
                                                                        <div class="up-side">
                                                                            <div class="name-side">
                                                                                <div class="name-EN"><%= bill.film%></div>
                                                                                <div class="name-order-list"><%= bill.film%></div>
                                                                            </div>
                                                                            <span class="ticket-used">Đã sử dụng</span>
                                                                        </div>
                                                                        <div class="time-order">
                                                                            <span>Đã đặt lúc 12:00 02/02/2021 </span>
                                                                            <div class="price-order-list"><b>Tổng tiền:</b> <%= bill.total%> VNĐ</div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                                
                                                            </div>
                                                        </a>
                                                        <div class="collapse row-collapse" id="collapseExample<%=bill._id%>">
                                                            <div class="card detail-purchase">
                                                                <div class="row-detail">
                                                                    <div>Suất chiếu:</div>
                                                                    <div>22/04/2022 <span style="margin-left: 10px;"><i style="margin-right: 5px;" class="fa-solid fa-film"></i>09:45 AM</span></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Rạp:</div>
                                                                    <div><%= bill.room%></div>
                                                                </div>

                                                                <div class="row-detail">
                                                                    <div>Số ghế:</div>
                                                                    <% var ticket=[] %>
                                                                    <% var totalticket=0 %>
                                                                    <% bill.ticket.forEach( function(tk){ %>
                                                                        <%
                                                                            ticket.push(tk.name)
                                                                            totalticket+=tk.price
                                                                        %>
                                                                    <% }); %>
                                                                    <div>
                                                                        <%= ticket.join(', ') %>
                                                                    </div>                                                                    
                                                                    <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalticket%> VNĐ</div>
                                                                </div>
                                                                
                                                                <div class="row-detail">
                                                                    <div>COMBO:</div>
                                                                    <% var snacksarr=[] %>
                                                                    <% var totalsn=0 %>
                                                                    <% bill.snack.forEach( function(sn){ %>
                                                                        <%
                                                                            snacksarr.push(sn.name+" (x"+sn.quantity+")")
                                                                            totalsn+=sn.price
                                                                        %>
                                                                    <% }); %>
                                                                    <div><%= snacksarr.join(', ') %></div>                                                                    
                                                                    <div class="price-order-list-sub"><span style="font-style: normal;">Giá: </span><%=totalsn%> VNĐ</div>
                                                                </div>
    
                                                            </div>
                                                        </div>
                                                    </div>
                                                <%})%>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
<%- include ('../layouts/footer') %>
</html>