<%- include('../layouts/header') %>

    <body>
        <%- include('../layouts/sub-header') %>

            <div class="detail-movies">
                <div class="container" style="max-width: 800px;">
                    <div class="frame-order">
                        <input type="hidden" class="typeRoom" value="<%=room.type%>" name="" id="">
                        <table class="table  table-bordered">
                            <tr class="book-title">
                                <th>BOOKING ONLINE</th>
                            </tr>
                            <tr class="book-sub">
                                <td>
                                    <div class="book-info">MEGAS ĐÀ NẴNG | PHÒNG <%=room.name%> | Số ghế: <span
                                                class="countAvailable"><%=countAvailable%></span>/<%=countAll%>
                                    </div>
                                    <div class="book-info">PHIM: <%=nameEN%> - <%=nameVN%>
                                    </div>
                                    <div class="book-info-sub">
                                        <%=(new Date(date)).toLocaleDateString('en-GB')%>
                                            <%=timeStart%>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="screen"></div>
            <form method="post" action="/order/snack">
                    <input type="hidden" class="idSt" value="<%=idSt%>" name="idSt" id="">
                    <table>
                        <tr class="row rowSeat">
                            <%if (room.type==114){%>
                                <%for (var i=0;i<a.length;i++){%>
                                    <td class="td-order">
                                        <%for (var j=0;j<a[i].length;j++){%>
                                            <%if(i!=9){%>
                                                <%if (j==1 || j==9){%>
                                                    <input onclick="orderSeatHandle(this)" price="<%=a[i][j].price%>" type="checkbox" class="btn-check" name="ticket" value="<%=a[i][j]._id%>"
                                                        id="btn-check-<%=a[i][j].name%>" autocomplete="off" <%if
                                                        (a[i][j].available==0){%>disabled<%}%>>
                                                        <label class="btn btn-primary btn-seat"
                                                            for="btn-check-<%=a[i][j].name%>">
                                                            <%=a[i][j].name%>
                                                        </label>
                                                        <input type="checkbox" class="btn-check" id="btn-check-a2"
                                                            autocomplete="off" disabled>
                                                        <label class="btn btn-primary btn-seat" for="btn-check-a2"
                                                            style="opacity: 0;"></label>
                                                        <%}else {%>
                                                            <input onclick="orderSeatHandle(this)" price="<%=a[i][j].price%>" type="checkbox" class="btn-check"
                                                                id="btn-check-<%=a[i][j].name%>" name="ticket" value="<%=a[i][j]._id%>" autocomplete="off" <%if
                                                                (a[i][j].available==0){%>disabled<%}%>>
                                                                <label class="btn btn-primary btn-seat"
                                                                    for="btn-check-<%=a[i][j].name%>">
                                                                    <%=a[i][j].name%>
                                                                </label>
                                                                <%}%>
                                                                    <%}else{%>
                                                                        <%if (j==0 || j==4){%>
                                                                            <input onclick="orderSeatHandle(this)" price="<%=a[i][j].price%>" type="checkbox"
                                                                                class="btn-check couple" name="ticket" value="<%=a[i][j]._id%>"
                                                                                id="btn-check-<%=a[i][j].name%>"
                                                                                autocomplete="off" <%if
                                                                                (a[i][j].available==0){%>disabled<%}%>>
                                                                                <label
                                                                                    class="btn btn-primary btn-couple btn-seat"
                                                                                    for="btn-check-<%=a[i][j].name%>">
                                                                                    <%=a[i][j].name%>
                                                                                </label>
                                                                                <input type="checkbox" class="btn-check"
                                                                                    id="btn-check-a2" autocomplete="off"
                                                                                    disabled>
                                                                                <label class="btn btn-primary btn-seat"
                                                                                    for="btn-check-a2"
                                                                                    style="opacity: 0;"></label>
                                                                                <%}else {%>
                                                                                    <input onclick="orderSeatHandle(this)" price="<%=a[i][j].price%>" type="checkbox" name="ticket" value="<%=a[i][j]._id%>"
                                                                                        class="btn-check couple"
                                                                                        id="btn-check-<%=a[i][j].name%>"
                                                                                        autocomplete="off" <%if
                                                                                        (a[i][j].available==0){%>disabled
                                                                                    <%}%>>
                                                                                        <label
                                                                                            class="btn btn-primary btn-couple btn-seat"
                                                                                            for="btn-check-<%=a[i][j].name%>">
                                                                                            <%=a[i][j].name%>
                                                                                        </label>
                                                                                        <%}%>
                                                                                            <%}%>

                                                                                                <%}%>
                                    </td>
                                    <%}%>
                                        <%} else {%>
                                            <%for (var i=0;i<a.length;i++){%>
                                                <td class="td-order td-order-small">
                                                    <%for (var j=0;j<a[i].length;j++){%>
                                                        <%if(i!=8){%>
                                                            <input onclick="orderSeatHandle(this)" price="<%=a[i][j].price%>" type="checkbox" class="btn-check" name="ticket" value="<%=a[i][j]._id%>"
                                                                id="btn-check-<%=a[i][j].name%>" autocomplete="off" <%if
                                                                (a[i][j].available==0){%>disabled<%}%>>
                                                                <label class="btn btn-primary btn-seat btn-seat-small"
                                                                    for="btn-check-<%=a[i][j].name%>">
                                                                    <%=a[i][j].name%>
                                                                </label>
                                                                <%}else{%>
                                                                    <input onclick="orderSeatHandle(this)" price="<%=a[i][j].price%>" type="checkbox" class="btn-check couple" 
                                                                        id="btn-check-<%=a[i][j].name%>" name="ticket" value="<%=a[i][j]._id%>"
                                                                        autocomplete="off" <%if 
                                                                        (a[i][j].available==0){%>disabled<%}%>>
                                                                        <label
                                                                            class="btn btn-primary btn-couple btn-seat btn-seat-small"
                                                                            for="btn-check-<%=a[i][j].name%>">
                                                                            <%=a[i][j].name%>
                                                                        </label>
                                                                        <%}%>

                                                                            <%}%>
                                                </td>
                                                <%}%>
                                                    <%}%>

                        </tr>

                    </table>
                    <div class="note-seat">
                        <div class="seat-color">
                            <div>
                                <div class="color-choice" style="background: #fdc85b;"></div>
                                <div class="color-choice" style="background: indianred;"></div>
                            </div>
                            <div class="name-color">Ghế chưa chọn</div>
                        </div>
                        <div class="seat-color">
                            <div class="color-choice" style="background: white;"></div>
                            <div class="name-color">Ghế đang chọn</div>
                        </div>
                        <div class="seat-color">
                            <div class="color-choice" style="background: rgb(116, 116, 116);"></div>
                            <div class="name-color">Ghế đã chọn</div>
                        </div>
                        <div class="tamtinh">
                            <div class="name-color">Tạm tính: </div>
                            <div class="name-color"><span class="totalPrice">0</span> VND</div>
                        </div>
                    </div>
                    <div class="btn-order-section">                        
                        <button type="button" class="btn btn-buy btn-back" onclick="history.back()">
                            Trở lại
                        </button>
                        <button type="submit" class="btn btn-buy btn-order">
                            Tiếp tục
                        </button>
                    </div>
                </div>
            </form>


    </body>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var checked = [];
        $('.btn-check').each(function () {
            $(this).change(function () {
                if (($(this).is(':checked'))) checked.push($(this).attr('id'));
                else {
                    for (var i = 0; i < checked.length; i++) {
                        if (checked[i] == $(this).attr('id')) checked.splice(i, 1);
                    }
                }
            })
        })
        function ajaxRequest() {
            var idSt = $('.idSt').val();
            var typeRoom = $('.typeRoom').val();
            $.ajax({
                url: "/order/reload",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ idShowtime: idSt, typeRoom: typeRoom }),
                success: function (result) {
                    $('.rowSeat').html(result.htmlSend);
                    $('.countAvailable').html(result.countAvailable);
                    $('.btn-check').each(function () {
                        var $this = $(this);
                        checked.forEach(function (checkedFe) {
                            if ($this.attr('id') == checkedFe && $this.prop('disabled') == false) $this.prop('checked', 'true');
                        })
                        $this.change(function () {
                            if (($this.is(':checked'))) checked.push($this.attr('id'));
                            else {
                                for (var i = 0; i < checked.length; i++) {
                                    if (checked[i] == $this.attr('id')) checked.splice(i, 1);
                                }
                            }
                        })
                    })
                }
            })
        }

        setInterval(() => { ajaxRequest() }, 3000);
        function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }
       function orderSeatHandle(th){
           var thisPrice=parseInt(th.getAttribute('price'));
           var totalPrice=parseInt($('.totalPrice').text());
           if (th.checked) $('.totalPrice').text(totalPrice+thisPrice)  ;
            else $('.totalPrice').text(totalPrice-thisPrice)  ;
        }
        $('.btn-order').click(function (e) {            
            if($('input[type="checkbox"]:checked').length<1){
                e.preventDefault();
                Swal.fire({
                    icon: 'warning',
                    title: "Bạn chưa chọn chỗ ngồi."
                })
            }  
        })
    </script>