<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>    

    <div class="container container-combo">
      <div class="fancy-border">
        <div class="text-fancy">SnackZONE</div>
      </div>
      <div class="combo-type">
            <ul style="margin: 10px 20px" class="nav nav-tabs menu-status">                
                <li class="nav-item">
                    <a
                    style="color: #eee"
                    class="nav-link link1 active optionEdit"
                    href="#nuoc"
                    data-bs-toggle="tab"
                    data-bs-target="#nuoc"
                    role="tab"
                    aria-controls="status"
                    aria-selected="true"
                    ><div class="type1">Nước</div></a
                    >
                </li>
                <li class="nav-item">
                    <a
                    style="color: #eee"
                    class="nav-link link1 optionEdit"
                    href="#snack"
                    data-bs-toggle="tab"
                    data-bs-target="#snack"
                    role="tab"
                    aria-controls="status"
                    aria-selected="true"
                    ><div class="type1">Đồ ăn</div></a
                    >
                </li>
                <li class="nav-item">
                    <a
                    style="color: #eee"
                    class="nav-link link1 optionEdit"
                    href="#combo"
                    data-bs-toggle="tab"
                    data-bs-target="#combo"
                    role="tab"
                    aria-controls="status"
                    aria-selected="true"
                    ><div class="type1">Combo</div></a
                    >
                </li>                
            </ul>
      </div>
      <form method="post" action="/order/ticket">
      
      <div class="tab-content"> 
            <div class="tab-pane active" id="nuoc" role="tabpanel">
                <div class="combo">
                    <% snacks.forEach( function(snack){ %>
                      <%if (snack.type=='Nước uống'){%>
                        <div class="card-detail" style="width: 12rem">
                          <img src="<%= snack.photo %>" class="card-img-top" alt="..." />
                          <div class="card-body">
                              <h5 class="card-title"><%= snack.name %></h5>
                              <p class="card-text"><%= snack.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></p>
                              <div class="buttons_added">
                              <input class="minus is-form" type="button" value="-" />
                              <input
                                aria-label="quantity"
                                class="input-qty"
                                max="10"
                                min="0"
                                name="<%= snack._id%>"
                                type="number"
                                value="0"
                              />
                              <input class="plus is-form" type="button" value="+" />
                              </div>
                          </div>
                        </div>
                      <% } %>
                    <% }); %>
                </div>
            </div>
            <div class="tab-pane" id="combo" role="tabpanel">
                <div class="combo">                    
                  <% snacks.forEach( function(snack){ %>
                    <%if (snack.type=='Combo'){%>
                      <div class="card-detail" style="width: 12rem">
                        <img src="<%= snack.photo %>" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title"><%= snack.name %></h5>
                            <p class="card-text"><%= snack.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></p>
                            <div class="buttons_added">
                            <input class="minus is-form" type="button" value="-" />
                            <input
                              aria-label="quantity"
                              class="input-qty"
                              max="10"
                              min="0"
                              name="<%= snack._id%>"
                              type="number"
                              value="0"
                            />
                            <input class="plus is-form" type="button" value="+" />
                            </div>
                        </div>
                      </div>
                    <% } %>
                  <% }); %>
                </div>
            </div>
            <div class="tab-pane" id="snack" role="tabpanel">
                <div class="combo">
                  <% snacks.forEach( function(snack){ %>
                    <%if (snack.type=='Đồ ăn'){%>
                      <div class="card-detail" style="width: 12rem">
                        <img src="<%= snack.photo %>" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title"><%= snack.name %></h5>
                            <p class="card-text"><%= snack.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></p>
                            <div class="buttons_added">
                            <input class="minus is-form" type="button" value="-" />
                            <input
                              aria-label="quantity"
                              class="input-qty"
                              max="10"
                              min="0"
                              name="<%= snack._id%>"
                              type="number"
                              value="0"
                            />
                            <input class="plus is-form" type="button" value="+" />
                            </div>
                        </div>
                      </div>
                    <% } %>
                  <% }); %>
                </div>
            </div>
        </div>
      <div class="btn-order-section btn-snack-order">
        <button type="button" class="btn btn-buy btn-back" onclick="history.back()">Trở lại</button>
        <button type="submit" class="btn btn-buy btn-order">Đặt vé</button>
      </div>
      <% tk.forEach( function(ticket){ %>
          <input type="hidden" name="ticket" value="<%=ticket._id%>"/>
      <% }); %>
      <input type="hidden" name="idSt" value="<%=idst%>"/>
      </form>
    </div>

    <script>
      $("input.input-qty").each(function () {
        var $this = $(this),
          qty = $this.parent().find(".is-form"),
          min = Number($this.attr("min")),
          max = Number($this.attr("max"));
        if (min == 0) {
          var d = 0;
        } else d = min;
        $(qty).on("click", function () {
          if ($(this).hasClass("minus")) {
            if (d > min) d += -1;
          } else if ($(this).hasClass("plus")) {
            var x = Number($this.val()) + 1;
            if (x <= max) d += 1;
          }
          $this.attr("value", d).val(d);
        });
      });
    </script>
  </body>
</html>
