<script src="/js/html5-qrcode.min.js"></script>
<%- include ('../layouts/header') %>

    <body>
        <%- include ('../layouts/sub-header') %>

        <div class="container-bill">
            <div class="qr-bill">
                <div class="qr-info">
                    <div class="qr-bill-section">
                        <h2>Hóa đơn</h2>
                        <div class="bill-text">
                            <div class="bill-qr">ID: </div>
                            <span class='idBill' style="font-style: italic;"><%= bill._id%></span>
                        </div>
                        <div class="bill-text">
                            <div class="bill-qr">Thời gian xuất: </div>
                            <span style="font-style: italic;"><%= timePrint %></span>
                        </div>
                        <div class="bill-text">
                            <div class="bill-qr">Tên khách hàng: </div>
                            <span style="font-style: italic;"><%= bill.fullname %></span>
                        </div>
                        <div class="showtime-bill show-qr">
                            <div class="bill-text" style="display: flex;">
                                <div class="name-bill name-qr">Tên phim: </div>
                                <div>
                                    <div><%= bill.film.nameEN %></div>
                                    <div><%= bill.film.nameVN %></div>
                                </div>
                            </div>
                            <div class="bill-text">
                                <div class="name-bill name-qr">Suất chiếu: </div>
                                <span style="font-weight: 600;"><%= new Date(bill.showtime.date).toLocaleDateString('en-GB') %> <%=bill.showtime.time%></span>
                            </div>
                            <div class="bill-text">
                                <div class="name-bill name-qr">Rạp: </div>
                                <span style="font-weight: 600;"><%= bill.room %></span>
                            </div>
                            <div class="bill-text">
                                <div class="name-bill name-qr">Ghế: </div>
                                <% var tickets=[] %>
                                <% bill.ticket.forEach( function(tk){ %>
                                    <%
                                        tickets.push(tk.name)
                                    %>
                                <% }); %>                           
                                <span style="font-weight: 600;"><%= tickets.join(', ') %></span>
                            </div>
                            <div class="bill-text">
                                <div class="name-bill name-qr" style="flex:3">Combo: </div> 
                                <% var snacksarr=[] %>
                                <% bill.snack.forEach( function(sn){ %>
                                    <%
                                        snacksarr.push(sn.quantity+" x "+sn.name)
                                    %>
                                <% }); %>
                                <span style="flex:5"><%= snacksarr.join(', ') %></span>
                            </div>
                            <div class="bill-text">
                                <div class="name-bill name-qr" style="flex:3">Tổng tiền: </div> 
                                <span style="flex:5"><%= bill.total %> VNĐ</span>
                            </div>
                        </div>
                        <div class="print-section">
                            <button class="form-control btn-print noPrint" onclick="checkInBill(this)">Sử dụng</button>
                            <button class="form-control btn-print noPrint" onclick="window.print()">In</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="form-control btn-print btn-backQR noPrint">
                <a href='/qrcode/scan-qrcode'>Quay lại</a>
            </button>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
function checkInBill(th) {
    var idBill = $('.idBill').text();
    Swal.fire({
        icon: 'question',
        title: 'Bạn có chắc chắn hành động này ?',
        text: 'Mỗi mã QR chỉ sử dụng được 1 lần',
        showCancelButton: true
    }).then((confirm) => {
        if (confirm.isConfirmed) {
            $.ajax({
                url: "/qrcode/check-in",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ idBill: idBill }),
                success: function (result) {
                    if (result=='success') {
                        th.disabled = true;
                        Swal.fire({
                            icon: 'success',
                            title: 'Thành công',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                }
            })
        }
    })
}
    </script>