<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>
    

    <div class="container">
        <ul class="nav nav-tabs tab-phim" id="myTab" role="tablist">
            <li class="nav-item " role="presentation">
                <button class="nav-link tab-movie category-tab tab-show active" id="home-tab" data-bs-toggle="tab"
                    data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    <%=type%>
                </button>
            </li>
        </ul>
    
        <div class="category-bar">
            <div class="category-side">
                <div class="category-star">
                    <li class="nav-item drop index-dropdown category-dropdown">
                        <a class="nav-link index-navbar category-title">
                            Rating
                        </a>
                    </li>
                    <fieldset class="rating rating-cate">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                </div>
            </div>
            <div class="category-span"></div>
        
            <div class="movie-side">
                <% films.forEach(function(film,idx){ %>
                    <div class="coming-movie-cate">
                        <a class="a-coming" href="/movie/<%= film.slug%>">
                            <div class="flex-img-cate" style="padding-bottom: 0px;">
                                <img class="poster-movie" src="<%=film.photo%>">
                            </div>
                            <div class="flex-cs flex-cate">
                                <fieldset class="rating rating-star">
                                    <%if (avgRates[idx]==0.5){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==1){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==1.5){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==2){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full fulled" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==2.5){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full fulled" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==3){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full fulled" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full fulled" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==3.5){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half fulled" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full fulled" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full fulled" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==4){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full fulled" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half fulled" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full fulled" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full fulled" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==4.5){%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half fulled" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full fulled" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half fulled" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full fulled" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full fulled" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}else if (avgRates[idx]==5) {%>
                                        <label class = "full fulled" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half fulled" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full fulled" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half fulled" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full fulled" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full fulled" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half fulled" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full fulled" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%} else {%>
                                        <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                        <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                        <label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                        <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                        <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                        <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                    <%}%>
                                </fieldset>
                                <div class="english-title cate-title" >
                                    <div class="h5-poster">
                                        <%= film.nameEN%>
                                    </div>
                                    <div class="csc">
                                        <img class="img-cs" src="/img/cs<%=film.ageLimit%>.png">
                                    </div>
                                </div>
                                <div class="side-poster">
                                    <%= film.nameVN%>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>   
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('nav').addClass('sticky');
                } else {
                    $('nav').removeClass('sticky');
                }
            });
        });
    </script>
    
</body>
<%- include ('../layouts/footer') %>
</html>