<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>

    <div class="container">

        <div class="detail-movie">
            <div class="flex-title">
                <div class="flex-cs-detail">
                    <div class="english-title">
                        <div class="h6-poster">
                            ETERNAL
                        </div>
                        <div class="cs">
                            <img class="img-cs" src="/img/cs13.png">
                        </div>
                    </div>
                    <div class="side-poster">
                        CHỦNG TỘC BẤT TỬ
                    </div>
                </div>
                <div class="span-detail"></div>
                <div class="detail-side">
                    <div class="detail-img">
                        <a href="#"><img class="poster-movie" src="/img/P1.jpg"></a>
                        <button type="button" class="btn btn-buy" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Mua vé
                        </button>
                    </div>

                    <!-- bảng pop up  -->
                    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Chi tiết mua vé</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form action="/order" method="get">
                                    <div class="modal-body">
                                        <h6 class="modal-title">Chọn ngày</h6>
                                        <div class="form-group">
                                            <select name="date" id="dateShow" class="form-select"
                                                aria-label="Default select example">
                                                <option value="none" selected>Chọn ngày chiếu</option>
                                                <option value="1">22/02/2022</option>
                                            </select>
                                            <span class="span-error" id="birth_error"></span>
                                        </div>
                                        <input type="hidden" name="nameEN">
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="modal-title">Chọn suất chiếu</h6>
                                        <div id="showtime" class="flex-time-detail">
                                            <div class="time-btn">
                                                <input type="radio" class="btn-check" id="btn-check1" name="options"
                                                    autocomplete="off">
                                                <label class="btn btn-outline-warning btn-time" for="btn-check1">13:30
                                                    PM</label>
                                            </div>
                                            <div class="time-btn">
                                                <input type="radio" class="btn-check" id="btn-check2" name="options"
                                                    autocomplete="off">
                                                <label class="btn btn-outline-warning btn-time" for="btn-check2">13:30
                                                    PM</label>
                                            </div>
                                            <div class="time-btn">
                                                <input type="radio" class="btn-check" id="btn-check3" name="options"
                                                    autocomplete="off">
                                                <label class="btn btn-outline-warning btn-time" for="btn-check3">13:30
                                                    PM</label>
                                            </div>
                                            <div class="time-btn">
                                                <input type="radio" class="btn-check" id="btn-check4" name="options"
                                                    autocomplete="off">
                                                <label class="btn btn-outline-warning btn-time" for="btn-check4">13:30
                                                    PM</label>
                                            </div>
                                            <div class="time-btn">
                                                <input type="radio" class="btn-check" id="btn-check5" name="options"
                                                    autocomplete="off">
                                                <label class="btn btn-outline-warning btn-time" for="btn-check5">13:30
                                                    PM</label>
                                            </div>
                                            <div class="time-btn">
                                                <input type="radio" class="btn-check" id="btn-check6" name="options"
                                                    autocomplete="off">
                                                <label class="btn btn-outline-warning btn-time" for="btn-check6">13:30
                                                    PM</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="    height: 90px;">
                                        <p style="color: red;  margin-right: 90px;" class="alert span-error"></p>
                                        <button style="    position: absolute;" type="submit"
                                            class="btn btn-outline-warning btn-submit">Tiếp tục</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="detail-text">
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Đạo diễn:</div>
                                <div class="sub2">
                                    <%= film.directors %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Diễn viên:</div>
                                <div class="sub2">
                                    <%= film.cast %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Thể loại:</div>
                                <div class="sub2">
                                    <%= film.idcat %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Khởi chiếu:</div>
                                <div class="sub2">
                                    <%= film.premiere %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Thời lượng:</div>
                                <div class="sub2">
                                    <%= film.time %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <span class="sub1">Chi tiết:</span>
                                <span class="sub2">
                                    <%= film.detail %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="trailer-detail">
        <div class="frame-trailer">
            <div class="trailer-title">
                <img src="/img/trailer.png" alt="" style="width: 100%">
            </div>
            <iframe width="560" height="315" src="<%= film.trailer %>"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>

    <section class="comment-section" id="app">
        <div class="container container-comment">
            <div class="comment-side">Bình luận</div>
            <div class="commented">
                <img src="/img/bg-movie.jpg" alt="">
                <div class="star-text">
                    <div class="rating rating-text">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <div class="comment">
                        <p v-for="items in item" v-text="items">
                            Trong một xã hội mà ai cũng “cặp bồ” với một cái Smartphone, thì “biết lắng nghe” đã trở
                            thành
                            một phẩm chất “hiếm có khó tìm”. Khi bạn nói với ai đó rằng họ thật biết cách lắng nghe, bạn
                            không những ghi nhận sự có mặt của họ, mà còn tặng cho họ một danh hiệu tuyệt vời đấy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="commented">
                <img src="/img/bg-movie.jpg" alt="">
                <div class="star-text">
                    <div class="rating rating-text">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <div class="comment">
                        <p v-for="items in item" v-text="items">
                            Trong một xã hội mà ai cũng “cặp bồ” với một cái Smartphone, thì “biết lắng nghe” đã trở
                            thành
                            một phẩm chất “hiếm có khó tìm”
                        </p>
                    </div>
                </div>
            </div>
            <div class="comment-text">
                <textarea type="text" class="input" placeholder="Viết bình luận của bạn ở đây" v-model="newItem"
                    @keyup.enter="addItem()"></textarea>
                <div class="star-comment">
                    <div class="rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Bình luận</button>
                </div>

            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('nav').addClass('sticky');
                } else {
                    $('nav').removeClass('sticky');
                }
            });
        });
    </script>

</body>
<%- include ('../layouts/footer') %>
</html>