<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>
    <% function convertDate(date){%>
        <% var newDate= new Date(date);%>
        <%    return newDate.toLocaleDateString('en-GB');%>
        <%} %>
    <div class="container">
        <%if (user.actor=='staff'){%>
            <input type="hidden" class="checkStaff" value="1" name="" id="">
        <%}else {%>
            <input type="hidden" class="checkStaff" value="0" name="" id="">
        <%}%>
        <div class="detail-movie">
            <div class="flex-title">
                <div class="flex-cs-detail">
                    <div class="english-title" style="height: 30px;">
                        <div class="h6-poster">
                            <%=film.nameEN%>
                        </div>
                        <div class="cs">
                            <img class="img-cs" src="/img/cs<%=film.ageLimit%>.png">
                        </div>
                    </div>
                    <div class="rating-movie">
                        <div class="side-poster">
                            <%=film.nameVN%>
                        </div>
                        <div class="star-point">
                            <span><%=film.avgRate%>/5</span>
                            <fieldset class="rating rating-film">
                                <%if (film.avgRate==0.5){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==1){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==1.5){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==2){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full fulled" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==2.5){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full fulled" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==3){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full fulled" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full fulled" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==3.5){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half fulled" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full fulled" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full fulled" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==4){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full fulled" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half fulled" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full fulled" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full fulled" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==4.5){%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half fulled" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full fulled" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half fulled" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full fulled" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full fulled" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}else if (film.avgRate==5) {%>
                                    <p class = "full fulled" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half fulled" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full fulled" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half fulled" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full fulled" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half fulled" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full fulled" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half fulled" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full fulled" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half fulled" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%} else {%>
                                    <p class = "full" for="star5" title="Awesome - 5 stars"></p>
                                    <p class="half" for="star4half" title="Pretty good - 4.5 stars"></p>
                                    <p class = "full" for="star4" title="Pretty good - 4 stars"></p>
                                    <p class="half" for="star3half" title="Meh - 3.5 stars"></p>
                                    <p class = "full" for="star3" title="Meh - 3 stars"></p>
                                    <p class="half" for="star2half" title="Kinda bad - 2.5 stars"></p>
                                    <p class = "full" for="star2" title="Kinda bad - 2 stars"></p>
                                    <p class="half" for="star1half" title="Meh - 1.5 stars"></p>
                                    <p class = "full" for="star1" title="Sucks big time - 1 star"></p>
                                    <p class="half" for="starhalf" title="Sucks big time - 0.5 stars"></p>
                                <%}%>
                                
                            </fieldset>
                            <span>(<%=film.ratings.length%> lượt đánh giá)</span>
                        </div>
                    </div>
                    
                </div>
                <div class="span-detail"></div>
                <div class="detail-side">
                    <div class="detail-img">
                        <a href="#"><img class="poster-movie" src="<%=film.photo%>"></a>
                        <%if (film.status=='Sắp khởi chiếu'){%>
                            <button disabled id="btn-buy" type="button" class="btn btn-buy" 
                            data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 158px;
                            margin-left: 45px;">
                                Sắp khởi chiếu
                            </button>
                        <%} else {%>
                            <button id="btn-buy" type="button" class="btn btn-buy" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Mua vé
                            </button>
                        <%}%>
                        
                    </div>

                    <!-- bảng pop up  -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content detail-body">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Chi tiết mua vé</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form action="/order" method="get">
                                    <%if (dateSts.length>0){%>
                                        <div class="modal-body">
                                            <h6 class="modal-title">Chọn ngày</h6>
                                            <div class="form-group">
                                                <select id="dateShow" class="dateChange form-select"
                                                    aria-label="Default select example">
                                                    <% dateSts.sort() %>
                                                        <option value="none">Chọn ngày chiếu</option>
                                                    <%dateSts.forEach(function(dateSt){%>
                                                        <option value="<%=dateSt%>"><%=convertDate(dateSt) %></option>
                                                    <%})%> 
                                                    
                                                </select>
                                                <span class="span-error" id="birth_error"></span>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <h6 class="modal-title">Chọn suất chiếu</h6>
                                            <div id="showtime" class="flex-time-detail">
                                                
                                            </div>
                                        </div>
                                        <div class="container-input-hidden">
                                            <input class='inputHidden' type="hidden" name="idShowtime">
                                        </div>
                                        <div class="modal-footer" style="    height: 90px;">
                                            <p style="color: red;  margin-right: 90px;" class="alert span-error"></p>
                                            <button style="    position: absolute;" type="submit"
                                                class="btn btn-outline-warning btn-submit">Tiếp tục</button>
                                        </div>
                                    <%} else {%>
                                        <div class="no-show">
                                            <h1 style="font-size: 30px;">Hiện chưa có suất chiếu nào</h1>
                                            <img style="width: 200px" src="/img/movie.gif" alt="">
                                        </div>
                                    <%}%>
                                    
                                   
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="detail-text">
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Đạo diễn:</div>
                                <div class="sub2">
                                    <%= film.directors %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Diễn viên:</div>
                                <div class="sub2">
                                    <%= film.cast %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Thể loại:</div>
                                <div class="sub2">
                                    <%= film.idCat %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Khởi chiếu:</div>
                                <div class="sub2">
                                    <%= convertDate(film.premiere) %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Thời lượng:</div>
                                <div class="sub2">
                                    <%= film.time %> phút
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <span class="sub1">Chi tiết:</span>
                                <span class="sub2">
                                    <%= film.detail %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="trailer-detail">
        <div class="frame-trailer">
            <div class="trailer-title">
                <img src="/img/trailer.png" alt="" style="width: 100%">
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= film.trailer %>"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <input type="hidden" name="" class="idFilmHidden" value="<%= film._id %>" id="">
    </div>
    <%if (film.status!='Sắp khởi chiếu'){%>
        <section class="comment-section" id="app">
            <div class="container container-comment">
                <%if (film.ratings.length!=0){%>
                    <div class="comment-side">Bình luận</div>
                <%film.ratings.forEach(function(rate){%>
                    <div class="commented">
                        <div class="user-comt">
                            <%if (rate.photoUser!=''){%>
                                <img src="<%=rate.photoUser%>" alt="">
                            <%} else {%>
                                <img src="/img/no_img.webp" alt="">
                            <%}%>
                            
                            <div class="name-comt"><%=rate.nameUser%></div>
                        </div>
                        
                        <div class="star-text">
                        
                        
                        <%if (rate.idUser==user._id){%>
                            <div class="btn-comt">
                                <button id="btn-suacomt"  class='btn-sua editCmt' type="submit">Sửa</button>
                                <!-- <button id="btn-xoacomt" idRate="<%=rate.idRate%>" class='btn-xoa deleteCmt' type="submit">Xóa</button> -->
                            </div> 
                        <%}%>
                            
                            <fieldset class="rating rating-comt">
                                <%if (rate.rating==1){%>
                                    <span class = "full" for="star5" title="Awesome - 5 stars"></span>
                                    <span class = "full" for="star4" title="Pretty good - 4 stars"></span>
                                    <span class = "full" for="star3" title="Meh - 3 stars"></span>
                                    <span class = "full" for="star2" title="Kinda bad - 2 stars"></span>
                                    <span class = "full fulled" for="star1" title="Sucks big time - 1 star"></span>
                                <%} else if (rate.rating==2) {%>
                                    <span class = "full" for="star5" title="Awesome - 5 stars"></span>
                                    <span class = "full" for="star4" title="Pretty good - 4 stars"></span>
                                    <span class = "full" for="star3" title="Meh - 3 stars"></span>
                                    <span class = "full fulled" for="star2" title="Kinda bad - 2 stars"></span>
                                    <span class = "full fulled" for="star1" title="Sucks big time - 1 star"></span>
                                <%} else if (rate.rating==3) {%>
                                    <span class = "full" for="star5" title="Awesome - 5 stars"></span>
                                    <span class = "full" for="star4" title="Pretty good - 4 stars"></span>
                                    <span class = "full fulled" for="star3" title="Meh - 3 stars"></span>
                                    <span class = "full fulled" for="star2" title="Kinda bad - 2 stars"></span>
                                    <span class = "full fulled" for="star1" title="Sucks big time - 1 star"></span>
                                <%} else if (rate.rating==4){%>
                                    <span class = "full" for="star5" title="Awesome - 5 stars"></span>
                                    <span class = "full fulled" for="star4" title="Pretty good - 4 stars"></span>
                                    <span class = "full fulled" for="star3" title="Meh - 3 stars"></span>
                                    <span class = "full fulled" for="star2" title="Kinda bad - 2 stars"></span>
                                    <span class = "full fulled" for="star1" title="Sucks big time - 1 star"></span>
                                <%} else {%>
                                    <span class = "full fulled" for="star5" title="Awesome - 5 stars"></span>
                                    <span class = "full fulled" for="star4" title="Pretty good - 4 stars"></span>
                                    <span class = "full fulled" for="star3" title="Meh - 3 stars"></span>
                                    <span class = "full fulled" for="star2" title="Kinda bad - 2 stars"></span>
                                    <span class = "full fulled" for="star1" title="Sucks big time - 1 star"></span>
                                <%}%>
                                    
                                </fieldset>
                            <div class="comment" id="commentp">
                                <div v-for="items in item" v-text="items"><%=rate.content%></div>
                            </div>
                            <textarea id="text-sua" type="text" class="input"  ></textarea>
                            <div class="btn-group">
                                <button id="btn-save" class='btn-sua' idRate="<%=rate.idRate%>" type="submit" value="Lưu">
                                    Lưu
                                </button>
                                <button id="btn-huy" class='btn-sua' type="submit" value="Hủy">
                                    Hủy
                                </button>
                            </div>
                            <div class="time-comt">
                                <%var time=rate.date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit',hour12:false }) ;%>
                                <%var date=rate.date.toLocaleDateString('en-GB'); %>
                                <% if (rate.edited==0){ %>
                                    <%=time%> <%=date%>
                                <%} else {%>
                                    Đã chỉnh sửa lúc <%=time%> <%=date%>
                                <%}%> 
                            </div>
                        </div>
                    </div> 
                <%})%>
                <%} else {%>
                    <div class="comment-side not-comment">Chưa có đánh giá nào</div>
                <%}%>
                
                <%if (user==""){%>
                    <a href="/auth/login">
                        <button class='primaryContained float-right' type="submit">Đăng nhập để đánh giá</button>
                    </a>
                    
                <%} else { %>
                    <div class="comment-text commented-text">
                        <%if (user.actor=='staff' || user.actor=='admin'){%>
                            <span>Tài khoản này không thể đánh giá</span>
                            <%}else if (checkRating==true){%>
                                <span>Cảm ơn bạn đã đánh giá</span>
                            <%}else {%>
                                <textarea type="text" class="contentComment input" placeholder="Viết bình luận của bạn ở đây" v-model="newItem"
                            @keyup.enter="addItem()"></textarea>
                        <div class="star-comment">
                            <fieldset class="rating rating-choose">
                                <input type="radio" id="star5" onclick="handleRate(this);" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4" onclick="handleRate(this);" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3" onclick="handleRate(this);" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2" onclick="handleRate(this);" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1" onclick="handleRate(this);" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            </fieldset>
                                <button class='userComment primaryContained float-right' type="submit">Đánh giá</button>
                            <%}%>
                        </div>
        
                    </div>
                <%}%>
            </div>
        </section>
    <%}%>
    
<script src="/js/detail-movie.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
<%- include ('../layouts/footer') %>
</html>