<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>
    <% function convertDate(date){%>
        <%    var newDateArr=date.split('-'); %>
        <%    var newDate=newDateArr[2]+'/'+newDateArr[1]+'/'+newDateArr[0];%>
        <%    return newDate;%>
        <%} %>
    <div class="container">

        <div class="detail-movie">
            <div class="flex-title">
                <div class="flex-cs-detail">
                    <div class="english-title" style="height: 30px;">
                        <div class="h6-poster">
                            <%=film.nameEN%>
                        </div>
                        <div class="cs">
                            <img class="img-cs" src="/img/cs<%=film.ageLimit%>.png">
                        </div>
                    </div>
                    <div class="rating-movie">
                        <div class="side-poster">
                            <%=film.nameVN%>
                        </div>
                        <div class="star-point">
                            <span>4.5/5</span>
                            <fieldset class="rating rating-film">
                                <input type="radio" id="star5" name="rating"  value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" checked value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                        </div>
                    </div>
                    
                </div>
                <div class="span-detail"></div>
                <div class="detail-side">
                    <div class="detail-img">
                        <a href="#"><img class="poster-movie" src="<%=film.photo%>"></a>
                        <button type="button" class="btn btn-buy" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Mua vé
                        </button>
                    </div>

                    <!-- bảng pop up  -->
                    <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel">Chi tiết mua vé</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <form action="/order" method="get">
                                    <div class="modal-body">
                                        <h6 class="modal-title">Chọn ngày</h6>
                                        <div class="form-group">
                                            <select name="date" id="dateShow" class="dateChange form-select"
                                                aria-label="Default select example">
                                                <% dateSts.sort() %>
                                                    <option value="none">Chọn ngày chiếu</option>
                                                <%dateSts.forEach(function(dateSt){%>
                                                    <option value="<%=dateSt%>"><%=convertDate(dateSt) %></option>
                                                <%})%> 
                                                
                                            </select>
                                            <span class="span-error" id="birth_error"></span>
                                        </div>
                                        <input type="hidden" name="nameEN">
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="modal-title">Chọn suất chiếu</h6>
                                        <div id="showtime" class="flex-time-detail">
                                            
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="    height: 90px;">
                                        <p style="color: red;  margin-right: 90px;" class="alert span-error"></p>
                                        <button style="    position: absolute;" type="submit"
                                            class="btn btn-outline-warning btn-submit">Tiếp tục</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="detail-text">
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Đạo diễn:</div>
                                <div class="sub2">
                                    <%= film.directors %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Diễn viên:</div>
                                <div class="sub2">
                                    <%= film.cast %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Thể loại:</div>
                                <div class="sub2">
                                    <%= film.idCat %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Khởi chiếu:</div>
                                <div class="sub2">
                                    <%= convertDate(film.premiere) %>
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <div class="sub1">Thời lượng:</div>
                                <div class="sub2">
                                    <%= film.time %> phút
                                </div>
                            </div>
                        </div>
                        <div class="detail-sub">
                            <div class="subin">
                                <span class="sub1">Chi tiết:</span>
                                <span class="sub2">
                                    <%= film.detail %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="trailer-detail">
        <div class="frame-trailer">
            <div class="trailer-title">
                <img src="/img/trailer.png" alt="" style="width: 100%">
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= film.trailer %>"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>

    <section class="comment-section" id="app">
        <div class="container container-comment">
            <div class="comment-side">Bình luận</div>
            <%film.comments.forEach(function(cmt){%>
                <div class="commented">
                    <div>
                        <%if (cmt.photoUser!=''){%>
                            <img src="<%=cmt.photoUser%>" alt="">
                        <%} else {%>
                            <img src="/img/no_img.png" alt="">
                        <%}%>
                        
                        <div class="name-comt"><%=cmt.nameUser%></div>
                    </div>
                    
                    <div class="star-text">
                        <fieldset class="rating rating-comt">
                            <input type="radio" id="star5"  name="rating" value="5"  /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                        </fieldset>
                        <div class="comment">
                            <p v-for="items in item" v-text="items">
                                <%=cmt.content%>
                            </p>
                        </div>
                        <div class="time-comt">
                            <%var hour =(cmt.date.getHours()<10?('0'+cmt.date.getHours()):cmt.date.getHours())%>
                            <%var minute=(cmt.date.getMinutes()<10?('0'+cmt.date.getMinutes()):cmt.date.getMinutes())%>
                            <% var time=hour+':'+minute %>
                            <%var date=cmt.date.getDate()+'/'+(cmt.date.getMonth()+1)+'/'+(cmt.date.getFullYear())%>
                            <% if (cmt.edited==0){ %>
                                <%=time%> <%=date%>
                            <%} else {%>
                                Đã chỉnh sửa lúc <%=time%> <%=date%>
                            <%}%> 
                        </div>
                    </div>
                </div>
            <%})%>
            
            <div class="comment-text">
                <textarea type="text" class="contentComment input" placeholder="Viết bình luận của bạn ở đây" v-model="newItem"
                    @keyup.enter="addItem()"></textarea>
                <div class="star-comment">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                    </fieldset>
                    <button class='userComment primaryContained float-right' id="<%= film._id %>" type="submit">Bình luận</button>
                </div>

            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            var idFilm=$('.userComment').attr('id');


            $(window).scroll(function () {
                if ($(this).scrollTop()) {
                    $('nav').addClass('sticky');
                } else {
                    $('nav').removeClass('sticky');
                }
            });

            $('.userComment').click(function(){
                var value=$('.contentComment').val();
                if (value==''){
                    alert('Vui long nhap noi dung');
                } else {
                    $.ajax({
                        url: "/user/comment",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({content:value,idFilm:idFilm}),
                        success: function (result) {
                            if (result=='success')window.location.reload();
                            else {
                                window.location.href='/auth/login';
                            }
                        }
                    })
                } 
            })

            $('.dateChange').change(function(){
                var $this=$(this);
                var date=$this.val();
                    $.ajax({
                        url: "/movie/load-time",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({date:date,idFilm:idFilm}),
                        success: function (result) {
                            $('#showtime').html(result);
                        }
                    })
                
            })
        });
    </script>

</body>
<%- include ('../layouts/footer') %>
</html>