<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>
    <div class="container">
        <ul class="nav nav-tabs tab-phim" id="myTab" role="tablist" style="margin-top: 30px;">
            <li class="nav-item " role="presentation">
                <button class="nav-link tab-movie category-tab tab-show active" id="home-tab" data-bs-toggle="tab"
                    data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"
                    style="text-transform: uppercase;">
                    Sự kiện
                </button>
            </li>
        </ul>
        <div class="gia-price" style="padding: 50px 0;">
            <% events.forEach( function(event){ %>                
                <a href="/event/<%= event.slug %>">
                    <div class="sukien-about">
                        <div class="sukien-img">
                            <img src="<%= event.photo %>">
                        </div>
                        <div class="sukien-info">
                            <div class="sukien-sub">
                                <%=event.time.toJSON().slice(0,10).split('-').reverse().join('/')%> bởi MEGAS
                            </div>
                            <div class="sukien-tt">
                                <%= event.title %>
                            </div>
                        </div>
                    </div>
                </a>     
            <% }); %>
        </div>
    </div>
</body>
<%- include ('../layouts/footer') %>
</html>