<%- include ('../layouts/header') %>
<body>
    <%- include ('../layouts/sub-header') %>
    <div class="container">
        <ul class="nav nav-tabs tab-phim" id="myTab" role="tablist">
            <li class="nav-item " role="presentation">
                <button class="nav-link tab-movie category-tab tab-show active" id="home-tab" data-bs-toggle="tab"
                    data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    Sự kiện
                </button>
            </li>
        </ul>
        <div class="gia-price" style="padding: 50px 0;">
            <% events.forEach( function(event,index){ %>
                <%if(index%2==0) {%>
                    <a href="/event/<%= event.slug %>">
                        <div class="sukien-about">
                            <div class="sukien-img">
                                <img src="<%= event.photo %>" style="width:400px">
                            </div>
                            <div class="sukien-info">
                                <div class="sukien-tt">
                                    <%= event.title %>
                                </div>
                                <div class="sukien-sub">
                                    <%- event.content %>
                                </div>
                            </div>
                        </div>
                    </a>
                <% } else{ %>
                    <a href="/event/<%= event.slug %>">
                        <div class="sukien-about">
                            <div class="sukien-info" style="padding:0px; padding-right:20px">
                                <div class="sukien-tt">
                                    <%= event.title %>
                                </div>
                                <div class="sukien-sub">
                                    <%- event.content %>
                                </div>
                            </div>
                            <div class="sukien-img" style="margin-right: 20px;">
                                <img src="<%= event.photo %>" style="width:400px;">
                            </div>
                        </div>
                    </a>
                <% } %>                
            <% }); %>
        </div>
    </div>
</body>

</html>